<ion-header>
  <ion-navbar style="padding:20px;" color=danger hideBackButton> 
    <ion-row>
      <img src="assets/imgs/Elogo.png" style="       margin-right: 8px;  margin-left: 8px;  width: 63px; 
      height: 20px;
      margin-top: 4px;">
      <ion-title style="text-align:center; ">{{"PendingRequest" | translate}}</ion-title>
    </ion-row>
 
    <ion-buttons right *ngIf="langDirection=='ltr'">
        <button ion-button (click)="ViewCtrl.dismiss()">
            <ion-icon md="ios-arrow-forward" ios="ios-arrow-forward"  style="font-size: 2.5rem;" ></ion-icon>
        </button>
        </ion-buttons>
        <ion-buttons right *ngIf="langDirection=='rtl'">
          <button ion-button (click)="ViewCtrl.dismiss()">
              <ion-icon md="ios-arrow-back-outline"  ios="ios-arrow-back-outline" style="font-size: 2.5rem;" ></ion-icon>
          </button>
      </ion-buttons>


  </ion-navbar>
</ion-header>

<ion-content padding style="background-color:whitesmoke;">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
  <ion-segment [(ngModel)]="invoice" class="tabss" style="margin-bottom:20px;">
    <ion-segment-button value="vacationMission">
      <span style="font-family: Cairo-SemiBold;"> {{ "vacationandmission" | translate }} </span><!--{{ 'vacationandmission' | translate }}-->
    </ion-segment-button>
    <ion-segment-button value="permissionOvertime">
      <span style="font-family: Cairo-SemiBold;"> {{ "permissionandovertime" | translate }}</span><!--{{ 'permissionandovertime' | translate }}-->
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="invoice">
    <ion-list *ngSwitchCase="'vacationMission'">
        <div *ngIf="vacationAndMissionList.length<1">
            <ion-row style=" margin-top:20px; width:100% ;text-align:center">
              <ion-col col-6 style="    box-shadow: 1px 1px 4px 1px lightgrey;margin:auto;text-align:center">
                <p style="text-align: center;font-family:Cairo-SemiBold;font-size: 20px; margin:auto;">{{'Nodata'|translate}}</p>
              </ion-col>
            </ion-row>
          </div>
      <ion-row style="margin-top:10px;" *ngFor="let item of vacationAndMissionList">
        <ion-col>
          <ion-list class="homelist">
            <ion-item class="homeitem">
              <h2 style="font-family: Cairo-SemiBold;">{{item.EmployeeName}} ({{item.EventName}} {{item.DayStatusName}})</h2>
              <ion-row style="width:100% !important; font-size: 15px;">
                <ion-col col-6 style="width:100%"><b style="font-family: Cairo-SemiBold;">{{ "From"| translate }} </b><span style="color:green;font-family: Cairo-SemiBold;">{{item.StartDate}}</span></ion-col>
                <ion-col col-6><b style="font-family: Cairo-SemiBold;">{{ "To"| translate }} </b><span style="color:red;font-family: Cairo-SemiBold;">{{item.EndDate}}</span></ion-col>
              </ion-row>
              <p style="font-family: Cairo-SemiBold;">{{item.Notes}}</p>
              <ion-row>
                <ion-col>
                  <button ion-button (click)="acceptEvent(item.Id)" style="font-family: Cairo-SemiBold;"> {{ "accept" | translate }}</button>
                  <button ion-button (click)="rejectEvent(item.Id)" style="font-family: Cairo-SemiBold;"> {{ "reject" | translate }}</button>
                </ion-col>
              </ion-row>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-list>
    <ion-list *ngSwitchCase="'permissionOvertime'">
        <div *ngIf="permissionAndOvertimeList.length<1">
            <ion-row style=" margin-top:20px; width:100% ;text-align:center">
              <ion-col col-6 style="    box-shadow: 1px 1px 4px 1px lightgrey;margin:auto;text-align:center">
                <p style="text-align: center;font-family:Cairo-SemiBold;font-size: 20px; margin:auto;">{{'Nodata'|translate}}</p>
              </ion-col>
            </ion-row>
          </div>
      <ion-row style="margin-top:10px;" *ngFor="let item of permissionAndOvertimeList">
        <ion-col>
          <ion-list class="homelist">
            <ion-item class="homeitem">
              <h2 style="font-family: Cairo-SemiBold;">{{item.EmployeeName}} ({{item.EventName}})</h2>
              <ion-row style="width:100% !important; font-size: 15px;">
                <ion-col col-6 style="width:100%"><b>Date: </b><span style="color:green;font-family: Cairo-SemiBold;">{{item.StartDate}}</span></ion-col>
                <ion-col col-6><b style="font-family: Cairo-SemiBold;">Minutes Num: </b><span style="color:red;font-family: Cairo-SemiBold;"> {{item.Minutes}}</span></ion-col>
              </ion-row>
              <p style="font-family: Cairo-SemiBold;">{{item.Notes}}</p>
              <ion-row>
                <ion-col>
                  <button ion-button (click)="acceptEvent(item.Id)" style="font-family: Cairo-SemiBold;"> {{ "accept" | translate }}</button>
                  <button ion-button (click)="rejectEvent(item.Id)" style="font-family: Cairo-SemiBold;"> {{ "reject" | translate }}</button>
                </ion-col>
              </ion-row>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-list>
  </div>

</ion-content>
