page-pendingreq {
  .button-md {
    font-size: 1.2rem !important;
  }

  .button-ios {
    font-size: 1.2rem !important;
  }

  .tabss {
    background: #4456b9;
  }

  .segment-md .segment-button {
    color: #fff;
    opacity: 1;
  }

  .segment-md .segment-button.segment-activated {
    background: #fff;
    color: #4456b9;
    border: 1px solid #aaa
  }

  .segment-ios .segment-button {
    color: #fff;
    opacity: 1;
  }

  .segment-ios .segment-button.segment-activated {
    background: #fff;
    color: #4456b9;
    border: 1px solid #aaa
  }

  ion-note {
    font-size: 12px;
    align-self: flex-start;
    margin-top: 14px;
  }

  .homelist {
    margin: -11px -13px 16px;
  }

  .homeitem {
    margin-bottom: 5px;
  }
}
