<!-- page to take password to get payslips -->
<ion-header>
    <ion-navbar   style="padding:20px;" color=danger>      
            <button ion-button menuToggle>
                <ion-icon class="menuToggle" ios="ios-menu-outline" md="ios-menu-outline" style="font-size: 3.2rem;"></ion-icon>
            </button>
          <ion-row>
              <img src="assets/imgs/Elogo.png" style="width: 63px; 
              height: 20px;
              margin-top: 4px;">
          <ion-title style="text-align:center;   ">{{"Payslip" | translate}}</ion-title>
        </ion-row>
          <ion-buttons right>
              <button ion-button (click)="opennotificaion()">
                  <ion-icon name="custom-notification" style="font-size: 2.2rem;" ></ion-icon>
              </button>
            </ion-buttons>
        </ion-navbar>
</ion-header>
<ion-content padding>
<p style="text-align:center; color:gray; font-size: 1.8rem;"> {{"Kindly Login To Processed To Payslips" | translate}}</p>
<div style="    margin-top: 48px;">
  <ion-input  [(ngModel)]="password" dir="*ngif(this.platform.isRTL)? rtl : ltr" *ngIf="langDirection == 'ltr'" placeholder="Password" type="password" style="box-shadow: lightgrey 1px 1px 2px 2px"></ion-input>
  <ion-input  [(ngModel)]="password" dir="*ngif(this.platform.isRTL)? rtl : ltr" *ngIf="langDirection == 'rtl'" type="password" placeholder="كلمة المرور" style="box-shadow: lightgrey 1px 1px 2px 2px"></ion-input>

  <button ion-button style="background-color: #4456b9;width:100%;margin-top: 20px;" (click)="checkPassword()">{{"Go" |translate}}</button>
</div>
</ion-content>
