<ion-content padding style="background: none transparent;">
    <ion-icon md="ios-globe" ios="ios-globe" (click)="changelang()" style="font-size: 30px;height: 8vw;width: 8vw;color:blue;    margin-top: 25px;border: 1px solid #ffffff;"></ion-icon>
    <p style="text-align:center;margin-top: -7px;"><img src="assets/imgs/logo1.png"  style="    margin-top: 42px;max-width: 60%;"/></p>

<form [formGroup]="loginForm">

  <ion-label style="    margin-top:36px;font-family: Cairo-SemiBold;">{{"server"| translate}} </ion-label>
  <ion-item style="margin: 0px; box-shadow: 1px 1px 1px 1px lightgrey;" [class.invalid]="!loginForm.controls.serverurl.valid && submitAttempt" >

  <ion-input dir="*ngif(this.platform.isRTL)? rtl : ltr" placeholder="{{'ServerURL' | translate}}" type="text" style="box-shadow:1px 1px 1px 1px lightgray" formControlName="serverurl" [(ngModel)]="serverurl"></ion-input>
  </ion-item>
  <ion-item *ngIf="(!loginForm.controls.serverurl.valid && submitAttempt)|| (! this.isValid )"  no-lines>
    <p style="color:red;font-family: Cairo-SemiBold;"> {{"serverurl" | translate}} </p>
    </ion-item>
  <p  style="text-align: right" *ngIf="langDirection=='ltr'">
    <img src="assets/imgs/scan.png" (click)="scan()" style="    max-width: 16%;
    margin-top: -6px;">
  </p>
  <p  style="text-align: left" *ngIf="langDirection=='rtl'">
    <img src="assets/imgs/scan.png" (click)="scan()" style="    max-width: 16%;
    margin-top: -6px;">
  </p>
  <hr style="background-color: rgba(0, 0, 0, 0.29);
  margin-top: 10px;">
  <ion-label style="margin-top:30px;font-family: Cairo-SemiBold;">{{"Login Info" | translate}}</ion-label>

  <ion-item style="margin: 0px; box-shadow: 1px 1px 1px 1px lightgrey;" [class.invalid]="!loginForm.controls.id.valid && submitAttempt">
    <ion-input   [(ngModel)]="username"  dir="*ngif(this.platform.isRTL)? rtl : ltr"  placeholder="{{'id' |translate}}"   style="border-radius: 2px;padding: 0px;"  formControlName="id" type="number"></ion-input>
</ion-item>
<ion-item *ngIf="!loginForm.controls.id.valid && submitAttempt" no-lines>
<p style="color:red;font-family: Cairo-SemiBold;"> {{"enteruserid" | translate}} </p>
</ion-item>
<br>
 <ion-item style="margin: 0px; box-shadow: 1px 1px 1px 1px lightgrey;" [class.invalid]="!loginForm.controls.password.valid && submitAttempt">
      <ion-input [(ngModel)]="pass" dir="*ngif(this.platform.isRTL)? rtl : ltr" placeholder="{{'pass'|translate}}"    style="border-radius: 2px;padding: 0px;" formControlName="password" [(ngModel)]="password"
      type="password"></ion-input>
   
   
 </ion-item>

  <ion-item *ngIf="!loginForm.controls.password.valid && submitAttempt" no-lines>
    <p style="color:red;font-family: Cairo-SemiBold;">{{"enterPassword" | translate}}</p>
  </ion-item>
  <br>
  <button ion-button style="width:100%;background-color:#4456b9;margin-top: 20px;color:white;font-family: Cairo-SemiBold;" (click)="login()" >{{"login" | translate}}</button>

</form>
</ion-content>
