page-login {
  .item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner
  {
    border-bottom-color: #445bb9 !important;
    -webkit-box-shadow: inset 0 -1px 0 0 #445bb9 !important;
    box-shadow: inset 0 -1px 0 0 #445bb9 !important;
  }
  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: #445bb9 !important;
    -webkit-box-shadow: inset 0 -1px 0 0 #445bb9 !important;
    box-shadow: inset 0 -1px 0 0 #445bb9 !important;
}
  .content-ios {
    background-color: white !important;
  }

  .content-md {
    background-color: white !important;
  }
 

  .first {
    text-align: right !important;

    input::-webkit-input-placeholder {
      direction: rtl;
      text-align: right;
    }

    .text-input {
      text-align: right !important;
      margin: 13px 8px;
      padding: 0;
      width: calc(100% - 8px - 8px);
    }
  }
}
