page-addmessage {
    .select-text {
        font-size: 13px !important;
        width:100% !important;
    }
    .select-md .select-icon {
        position: relative !important;
       
    }
    .checkbox-ios .checkbox-icon {
        border-radius: 50% !important;
    }
    .item.item-md .checkbox-md {
        position: static;
        display: block;
        margin: 9px 13px 9px 4px !important;
    }
    .item.item-ios .checkbox-ios {
        position: static;
        display: block;
        margin: 9px 13px 9px 4px !important;
    }
    .select-ios .select-icon {
        position: relative !important;
        
      
    }
    .checkbox-md .checkbox-icon
    {
        border-color: #445bb9 !important;
    }
    .cke_1 .cke_top {
        border-bottom-color: gray !important;
    }
    .cke_1 .cke_bottom {
        border-top-color: white !important;
        border-bottom-color: gray !important;
    }
    .cke_1.cke_chrome {
        border-color: gray !important;
        margin-top: 20px !important;
    }
    .cke_1.cke_chrome {
        border-color: gray !important;
    }
    
    .cke_bottom {
        padding: 6px 8px 2px;
        position: relative;
        border-top: 1px solid transparent !important;
        box-shadow: 0 1px 0 #fff inset !important;
        background: white !important;
        background-image: linear-gradient(to bottom,white,white) !important;
        filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#ebebeb',endColorstr='#cfd1cf');
    }
    // .checkbox-ios .checkbox-icon
    // {
    //     border-color: #445bb9 !important;
    // }
    .item-md.item-block .item-inner
    {
        border-bottom: 1px solid transparent !important;
    }
    .item-ios.item-block .item-inner
    {
        border-bottom: 1px solid transparent !important;
    }
    .text-input-md{
        width: calc(60% - 8px - 8px);
    }
    .text-input-ios{
        width: calc(60% - 8px - 8px);
    }
    .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        border-bottom-color: transparent !important;
        box-shadow: inset 0 -1px 0 0 transparent !important;
    }
    // .checkbox-ios .checkbox-checked {
    //     border-color: transparent  !important;
    //     background-color: transparent!important;
    // }
    .checkbox-md .checkbox-checked {
        border-color: #445bb9 !important;
        background-color: #445bb9 !important;
    }
    .item-ios.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-ios.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        border-bottom-color: transparent !important;
        box-shadow: inset 0 -1px 0 0 transparent !important;
    }
    .select-text {
        text-overflow: unset !important;
        overflow: unset !important;
        white-space: unset !important;

    }
    .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
         border-bottom-color: transparent; 
         -webkit-box-shadow: inset 0 -1px 0 0 transparent; 
         box-shadow: inset 0 -1px 0 0 transparent; 
    }
    .item-ios.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-ios.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        border-bottom-color: transparent; 
        -webkit-box-shadow: inset 0 -1px 0 0 transparent; 
        box-shadow: inset 0 -1px 0 0 transparent; 
   }
}
