
<ion-header>
<ion-navbar style="padding:20px;" color=danger hideBackButton>
   <ion-row>
        <img src="assets/imgs/Elogo.png" style=" margin-right: 8px;   margin-left: 8px;  width: 63px; 
        height: 20px;
        margin-top: 4px;">
    <ion-title style="text-align:center;  ">{{"addmsg" | translate}}</ion-title>  
  </ion-row>
  <ion-buttons right *ngIf="langDirection=='ltr'">
      <button ion-button (click)="ViewCtrl.dismiss()">
          <ion-icon md="ios-arrow-forward" ios="ios-arrow-forward"  style="font-size: 2.5rem;color:white;" ></ion-icon>
      </button>
      </ion-buttons>
      <ion-buttons right *ngIf="langDirection=='rtl'">
        <button ion-button (click)="ViewCtrl.dismiss()">
            <ion-icon md="ios-arrow-back-outline"  ios="ios-arrow-back-outline" style="font-size: 2.5rem;color:white;" ></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding >
  <ion-item style="margin-top: 15px; box-shadow: 1px 1px 1px 1px lightgrey;">
    <ion-select placeholder ="{{'send1'| translate}}"[(ngModel)]="to"   okText="Okay" cancelText="Dismiss" (ionChange)="getdata()" style="  width: 100%;   max-width: 100%; " *ngIf="langDirection=='ltr'">
     <ion-option value="{{item.Value}}" [selected]="item.Value==0" style="font-size: 13px;" *ngFor="let item of emplyees">  {{item.Text}} </ion-option>
   </ion-select>
   <ion-select placeholder ="{{'send1'| translate}}" [(ngModel)]="to" okText="تم" cancelText="الغاء" (ionChange)="getdata()" style="  width: 100%;   max-width: 100%; " *ngIf="langDirection!='ltr'">
   <ion-option  value="{{item.Value}}" [selected]="item.Value==0"  style="font-size: 13px;" *ngFor="let item of emplyees" > {{item.Text}} </ion-option>
     </ion-select>
   </ion-item>
   <ion-item *ngIf="show=='true'" style="    margin-top: 15px; box-shadow: 1px 1px 1px 1px lightgrey;">
    <ion-select  [(ngModel)]="quantity" placeholder ="{{'dep'| translate}}"  okText="Okay" cancelText="Dismiss"  style="   width: 100%;  max-width: 100%; " *ngIf="langDirection=='ltr'">
     <ion-option value="{{item.Id}}"  style="font-size: 13px;" *ngFor="let item of Departments">  {{item.DeptName}} </ion-option>
   </ion-select>
   <ion-select  [(ngModel)]="quantity" placeholder ="{{'dep'| translate}}" okText="تم" cancelText="الغاء"  style="  width: 100%;  width: 100%;  max-width: 100%; " *ngIf="langDirection!='ltr'">
   <ion-option  value="{{item.Id}}"  style="font-size: 13px;" *ngFor="let item of Departments" > {{item.DeptName}} </ion-option>
     </ion-select>
   </ion-item>
   <ion-item *ngIf="hide=='true'" style="    margin-top: 15px; box-shadow: 1px 1px 1px 1px lightgrey;">
    <ion-select placeholder ="{{'unit'| translate}}" [(ngModel)]="unit"   okText="Okay" cancelText="Dismiss" (ionChange)="getunitemp()" style="   width: 100%;  max-width: 100%; " *ngIf="langDirection=='ltr'">
     <ion-option value="{{item.Id}}"  style="font-size: 13px;" *ngFor="let item of units">  {{item.UnitName}} </ion-option>
   </ion-select>
   <ion-select placeholder ="{{'unit'| translate}}"[(ngModel)]="unit" okText="تم" cancelText="الغاء" (ionChange)="getunitemp()" style="  width: 100%;   max-width: 100%; " *ngIf="langDirection!='ltr'">
   <ion-option  value="{{item.Id}}"  style="font-size: 13px;" *ngFor="let item of units" > {{item.UnitName}} </ion-option>
     </ion-select>
   </ion-item>
   <ion-item style="margin-top: 1em;">
    <ion-label style="color:#445bb9;font-size: 1em;">{{'template' | translate}}</ion-label>
    <ion-checkbox [(ngModel)]="remember" (ionChange)="updateCucumber()"></ion-checkbox>
  </ion-item>
  <ion-item *ngIf="hide1=='true'" style="    margin-top: 15px; box-shadow: 1px 1px 1px 1px lightgrey;">
    <ion-select (ionChange)="getTemplate()" placeholder ="{{'templates'| translate}}" [(ngModel)]="temp"   okText="Okay" cancelText="Dismiss"  style="   width: 100%;  max-width: 100%; " *ngIf="langDirection=='ltr'">
     <ion-option value="{{item.Id}}"  style="font-size: 13px;" *ngFor="let item of templates">  {{item.Text}} </ion-option>
   </ion-select>
   <ion-select (ionChange)="getTemplate()" placeholder ="{{'templates'| translate}}" [(ngModel)]="temp" okText="تم" cancelText="الغاء"  style="  width: 100%;   max-width: 100%; " *ngIf="langDirection!='ltr'">
   <ion-option  value="{{item.Id}}"  style="font-size: 13px;" *ngFor="let item of templates" > {{item.Text}} </ion-option>
     </ion-select>
   
   </ion-item>
   <ion-item *ngIf="hide2=='true'" style="    margin-top: 15px; box-shadow: 1px 1px 1px 1px lightgrey;">
      <ion-row>
        <ion-col col-6 *ngFor="let item of templatesm">
          <p>{{item.Name}}</p>
        </ion-col>
      </ion-row>

  </ion-item>
      <ion-item (click)="openEmployees()" style="margin: 0px; box-shadow: 1px 1px 1px 1px lightgrey;">
  
          <table style="width:100%"><tr><td>
              <span *ngIf="empsName" style="color:black ; padding: 0 10px;font-size: 14px;"> {{empsName}}</span>
              <span *ngIf="!empsName" style="color: gray; padding: 0 10px;font-size: 14px;"> {{'to1'| translate}}</span>
             </td>
             <td style="text-align: right">
               <ion-icon name="arrow-dropdown" style="color:gray;font-size: 25px"></ion-icon>
             </td></tr>
           </table>
    <!-- <ion-select multiple="true"  placeholder ="{{'to1'| translate}}" [(ngModel)]="msgto"   okText="Okay" cancelText="Dismiss"  style="  width: 100%;   max-width: 100%; " *ngIf="langDirection=='ltr'">
     <ion-option value="{{item.Code}}"  style="font-size: 13px;" *ngFor="let item of emplyoees">  {{item.Text}} </ion-option>
   </ion-select>
   <ion-select multiple="true"  placeholder ="{{'to1'| translate}}"  [(ngModel)]="msgto" okText="تم" cancelText="الغاء"  style="   width: 100%;  max-width: 100%; " *ngIf="langDirection!='ltr'">
   <ion-option  value="{{item.Code}}"  style="font-size: 13px;" *ngFor="let item of emplyoees" > {{item.Text}} </ion-option>
     </ion-select> -->
   </ion-item>
   <p *ngIf="langDirection=='ltr'" style="text-align: right;color:gray">{{'hint'| translate}}</p>
   <p *ngIf="langDirection=='rtl'" style="text-align: left;color:gray">{{'hint'| translate}}</p>

   <ion-item  style="margin-top: 20px;    margin-bottom: 20px; box-shadow: 1px 1px 1px 1px lightgrey;" >
    <ion-input   [(ngModel)]="subject"  dir="*ngif(this.platform.isRTL)? rtl : ltr"  placeholder="{{'subject' |translate}}"   style="border-radius: 2px;padding: 0px;"  type="text"></ion-input>
</ion-item>
    <ckeditor
    [(ngModel)]="ckeditorContent" 
    [config]="{uiColor: '#445bb9'}"
    [readonly]="false"
    [config]="ckEditorConfig"
    debounce="300">
    <!-- (keyup)="disableReturnButton($event)"
    (blur)="onBlur($event)" -->
    <!-- (keydown)="onKeydown($event)"  -->
  </ckeditor>
  <p style="font-weight: bold;">{{'attach'| translate}}</p>
  <ion-item style="margin-top: 15px; box-shadow: 1px 1px 1px 1px lightgrey;width:100%;">
    <ion-row style="width:100%;">
      <ion-col col-5>
          <button ion-button style="background-color:#dedede;text-align: left;color:black; text-transform: none;" (click)="getfile()" >
              {{'file' | translate}}
            </button>
      </ion-col>
      <ion-col col-7 *ngFor="let item of names">
          <p style="width:100%;margin-top: 13px;">
              {{item}}
          </p>
      </ion-col>
     
    </ion-row>
    </ion-item>
  <ion-item style="text-align: right ;margin-top: 10px;" *ngIf="langDirection=='ltr'">
   
    <button ion-button style="width: 100px;
    height: 30px;
    font-size: 1em;color:#445bb9;text-align: right;color:white; text-transform: none;" (click)="send()" >
      {{'send' | translate}}
    </button>
    
      </ion-item>
      <ion-item style="text-align: left ;margin-top: 10px;" *ngIf="langDirection=='rtl'">
       
        <button ion-button style="width: 100px;
        height: 30px;
        font-size: 1em;background-color:#445bb9;text-align: left;color:white; text-transform: none;" (click)="send()" >
        {{'send' | translate}}
      </button>
  </ion-item>
</ion-content>
