page-view {
    .item-md.item-block .item-inner {
        padding-right: 8px;
        border-bottom: 0px solid white !important; 
    }
    .item-ios.item-block .item-inner {
        padding-right: 8px;
        border-bottom: 0px solid white !important; 
    }
    .msgClass > ion-label {
        white-space: normal !important;
    }
}
