
<ion-header>
    <ion-navbar style="padding:20px;" color=danger hideBackButton>
        <ion-row>
            <img src="assets/imgs/Elogo.png" style="       margin-right: 8px;   margin-left: 8px;  width: 63px; 
            height: 20px;
            margin-top: 4px;">
        <ion-title style="text-align:center;  ">{{"View" | translate}}</ion-title>
        
      </ion-row>
      <ion-buttons right *ngIf="langDirection=='ltr'">
          <button ion-button (click)="ViewCtrl.dismiss()">
              <ion-icon md="ios-arrow-forward" ios="ios-arrow-forward"  style="font-size: 2.5rem;color:white;" ></ion-icon>
          </button>
          </ion-buttons>
          <ion-buttons right *ngIf="langDirection=='rtl'">
            <button ion-button (click)="ViewCtrl.dismiss()">
                <ion-icon md="ios-arrow-back-outline"  ios="ios-arrow-back-outline" style="font-size: 2.5rem;color:white;" ></ion-icon>
            </button>
        </ion-buttons>
        
      </ion-navbar>

</ion-header>
<ion-content padding>
<div style="text-align: center;" *ngFor="let item of main">
        <ion-item>

  <p style="text-align: center;font-weight: bold;
  font-size: 1.2em;color:#445bb9">{{item.Subject}}</p>
  </ion-item>
  <ion-item class="msgClass" style="box-shadow:0px 1px 11px 3px lightgray; margin-top:20px;" >
    
  <p [innerHTML]="item.Message"></p>
  </ion-item>
</div>

<ion-item *ngIf="attach.length>0" style="box-shadow:0px 1px 11px 3px lightgray; margin-top:20px;" >
    <h3 *ngIf="langDirection != 'ltr'" style="margin-top: 8px;font-size: 1em;
    text-align: right;font-weight: bold;color:#445bb9">{{'attach'| translate}}  </h3>
    <h3 *ngIf="langDirection == 'ltr'" style="margin-top: 8px;font-size: 1em;color:#445bb9;text-align: left;font-weight: bold">{{'attach'| translate}} </h3>
    <ion-row >
        <ion-col col-12 (click)="download(item.URL,item.Name)" *ngFor="let item of attach">
       <p style="color:#2196F3">{{item.Name}}</p> 
        </ion-col>
       
    </ion-row>
</ion-item>
<ion-item style="box-shadow:0px 1px 11px 3px lightgray; margin-top:20px;" *ngIf="approvelist.length > 0 || napprovelist.length>0">
<ion-row>
    <ion-col col-6 *ngIf="approvelist.length>0">
<ion-row>
    <p *ngIf="langDirection != 'ltr'" style="text-align: right;font-size: 1em;font-weight: bold;">{{'approve'|translate}}</p>
    <p *ngIf="langDirection == 'ltr'" style="text-align: left;font-size: 1em;font-weight: bold;">{{'approve'|translate}}</p>

</ion-row>
<ion-row *ngFor="let item of approvelist">
    <p style="margin-top: 5px;">{{item.EmployeeName}}</p>
</ion-row>
    </ion-col>
    <ion-col col-6 *ngIf="napprovelist.length>0">
        <ion-row>
                <p *ngIf="langDirection != 'ltr'" style="text-align: right;font-size: 1em;font-weight: bold;">{{'napprove'|translate}}</p>
                <p *ngIf="langDirection == 'ltr'" style="text-align: left;font-size: 1em;font-weight: bold;">{{'napprove'|translate}}</p>

        </ion-row>
        <ion-row *ngFor="let item of napprovelist">
            <p style="margin-top: 5px;">{{item.EmployeeName}}</p>
        </ion-row>
    </ion-col>
</ion-row>
</ion-item>
<div *ngIf="replays.length>0">
<p *ngIf="langDirection != 'ltr'" style="text-align: right;font-size: 1.2em;
font-weight: bold;color:#445bb9;margin-right: 16px;
margin-left: 16px;">{{'replay' | translate}}</p>
<p *ngIf="langDirection == 'ltr'" style="text-align: left;font-size: 1.2em;
font-weight: bold;color:#445bb9;margin-right: 16px;
margin-left: 16px;">{{'replay' | translate}}</p>
</div>
<ion-list no-lines *ngIf="replays.length>0">
  <ion-item  style="box-shadow:0px 1px 11px 3px lightgray; margin-top:20px;" *ngFor="let item of replays">
      <h3 *ngIf="langDirection != 'ltr'" style="margin-top: 8px;font-size: 1em;
      text-align: right;">{{item.EmployeeName}}  </h3>
      <h3 *ngIf="langDirection == 'ltr'" style="margin-top: 8px;font-size: 1em;text-align: left;">{{item.EmployeeName}}  </h3>
      <h4 style="color: #676565;font-size: 1.4rem;margin-top: 5px;white-space: normal;text-align: left;" *ngIf="langDirection == 'ltr'">{{item.Body}}</h4>
      <h4 style="color: #676565;font-size: 1.4rem;margin-top: 5px;white-space: normal;text-align: right;" *ngIf="langDirection != 'ltr'">{{item.Body}}</h4>

  </ion-item>
</ion-list>

</ion-content>
