<ion-tabs [selectedIndex]='tabIndex' >
  <ion-tab [root]="tab1Root"  tabIcon="custom-print"></ion-tab>
  <ion-tab [root]="tab2Root" tabIcon="custom-mobile"></ion-tab>
  <ion-tab [root]="tab3Root"  tabIcon="custom-home"></ion-tab>
  <ion-tab [root]="tab4Root"  tabIcon="custom-request"></ion-tab>
  <ion-tab [root]="tab5Root"  tabIcon="custom-message"></ion-tab>
</ion-tabs>
