page-payslips {
    .label-md {
        margin: 13px -1px 13px 0 !important;
    }
    .label-ios {
        margin: 13px -1px 13px 0 !important;
        overflow: unset !important;

    }
    .select-text
    {
        text-overflow: unset !important;
        overflow: unset !important;
    }
    ion-label {
        margin: 0;
        display: block;
        overflow: unset !important;
    }
    .text-input-md{
        width: calc(60% - 8px - 8px);
    }
    .text-input-ios{
        width: calc(60% - 8px - 8px);
    }

    .content-md hr {
        background-color: rgba(0, 0, 0, 0.2);
    }
    .select-text {
        font-size: 13px !important;
        width:100% !important;
        white-space: unset !important;

    }
    .select-md .select-icon {
       
            position: relative !important;
           
        
    }
    .select-ios .select-icon {
        position: relative !important;
       
          
    }
    .content-ios hr {
        background-color: rgba(0, 0, 0, 0.2);
    }
   
}
