<ion-header>
  <ion-navbar style="padding:20px;" color=danger hideBackButton>
        <ion-row>
            <img src="assets/imgs/Elogo.png" style="       margin-right: 8px;   margin-left: 8px;  width: 63px; 
            height: 20px;
            margin-top: 4px;">
        <ion-title style="text-align:center;  ">{{"Payslip" | translate}}</ion-title>
        
      </ion-row>
      <ion-buttons right *ngIf="langDirection=='ltr'">
          <button ion-button (click)="ViewCtrl.dismiss()">
              <ion-icon md="ios-arrow-forward" ios="ios-arrow-forward"  style="font-size: 2.5rem;" ></ion-icon>
          </button>
          </ion-buttons>
          <ion-buttons right *ngIf="langDirection=='rtl'">
            <button ion-button (click)="ViewCtrl.dismiss()">
                <ion-icon md="ios-arrow-back-outline"  ios="ios-arrow-back-outline" style="font-size: 2.5rem;" ></ion-icon>
            </button>
        </ion-buttons>
        
      </ion-navbar>
</ion-header>


<ion-content padding>
<ion-row>
  <ion-col col-1>
     
  </ion-col>
   
  <ion-col col-10>
        <ion-item style="margin: 0px; box-shadow: 1px 1px 1px 1px lightgrey;">
          
        <ion-select [(ngModel)]="Date" (ionChange)="getdata()"  okText="Okay" cancelText="Dismiss" style="      width: 100%;  max-width: 100%; " *ngIf="langDirection=='ltr'">
            <ion-option value="{{ item.Id }}" [selected]="item.Id==date" *ngFor="let item of dateList" style="font-size: 13px;"> {{ item.Text}} </ion-option>
        </ion-select>
        <ion-select [(ngModel)]="Date" (ionChange)="getdata()" okText="تم" cancelText="الغاء" style="   width: 100%;  max-width: 100%; " *ngIf="langDirection!='ltr'">
          <ion-option value="{{ item.Id }}" [selected]="item.Id==date" *ngFor="let item of dateList; let i=index" style="font-size: 13px;"> {{ item.Text}} </ion-option>
            </ion-select>
        </ion-item>
  </ion-col>
  <ion-col col-1> 
  </ion-col>
</ion-row>  

<div style="width:100%;" [hidden]="hidedata">
<div style="width:100%;    margin-top: 12px;text-align:center">
        <ion-row style="width:100%;text-align:center">
          <ion-col col-4  style="text-align:center">
            <ion-row style="background-color:#4456b9;color:white;height: 50px;text-align:center">
              <h5 style="font-size: 16px;margin-top: 14px;text-align:center;font-family: Cairo-SemiBold;    margin:auto;" >{{ "NetSalary" | translate}}</h5>
            </ion-row>
            <ion-row style="background-color:white;color:black;text-align:center;box-shadow:0px 1px 1px 1px lightgray">
              <h5 style="text-align:center;margin-top: 15px; margin-right:auto; color:#666; margin-left:auto;font-family: Cairo-SemiBold;" >{{ NetSalary }}</h5>
            </ion-row>
          </ion-col>
          <ion-col col-4></ion-col>
          <ion-col col-4  style="text-align:center">
                <ion-row style="background-color:#4456b9;color:white;height: 50px;text-align:center">
                  <h5 style="font-size: 16px;margin-top: 14px;text-align:center;font-family: Cairo-SemiBold;    margin:auto;" > {{ "HourPay" | translate}}</h5>
                </ion-row>
                <ion-row style="background-color:white;color:black;text-align:center;box-shadow:0px 1px 1px 1px lightgray">
                  <h5 style="text-align:center;margin-top: 15px; margin-right:auto; color:#666; margin-left:auto;font-family: Cairo-SemiBold;" >{{ HourPay }}</h5>
                </ion-row>
              </ion-col>
        </ion-row>
      </div>

<hr style="margin:15px;">

<ion-row [hidden]="hide" style="margin-bottom: -20px;">
        <ion-col col-4>
                <ion-label style="opacity: 0.7;font-family: Cairo-SemiBold;"> {{ "Bonusespenalties" | translate}}</ion-label>
                
        </ion-col>
        <ion-col col-6>
     
        </ion-col> 
        <ion-col col-2>
                <ion-label style="opacity: 0.4;   font-family: Cairo-SemiBold; color: #1028af;
                text-decoration: underline;" (click)="openattend('Bounes') " >{{ "details" | translate}} </ion-label>
                       </ion-col>   
    
            </ion-row>

<ion-row style="margin-bottom: -20px;">
        <ion-col col-4>
                <ion-label style="opacity: 0.7;font-family: Cairo-SemiBold;"> {{ "Loans" | translate}}</ion-label>
                
        </ion-col>
        <ion-col col-6>
     
        </ion-col> 
        <ion-col col-2>
                <ion-label style="opacity: 0.4;font-family: Cairo-SemiBold;    text-align: center;" >{{Loans}}</ion-label>

        </ion-col> 
</ion-row>
<ion-row style="margin-bottom: -20px;">
        <ion-col col-4>
                
                <ion-label style="opacity: 0.7;font-family: Cairo-SemiBold;">{{ "attend" | translate}}</ion-label>
        </ion-col>
        <ion-col col-6>
     
        </ion-col> 
        <ion-col col-2>
           
                <ion-label style="opacity: 0.4;  font-family: Cairo-SemiBold;  color: #1028af;
                text-decoration: underline;" (click)="openattend('AttendPage')">{{ "details" | translate}} </ion-label>
                   </ion-col> 
</ion-row>
<ion-row style="margin-bottom: -20px;">
        <ion-col col-4>
                
                <ion-label style="opacity: 0.7;font-family: Cairo-SemiBold;">{{ "SalaryElements" | translate}}</ion-label>
        </ion-col>
        <ion-col col-6>
     
        </ion-col> 
        <ion-col col-2>
           
                <ion-label style="opacity: 0.4;  font-family: Cairo-SemiBold;  color: #1028af;
                text-decoration: underline;" (click)="openattend('SalaryPage')">{{ "details" | translate}} </ion-label>
                   </ion-col> 
</ion-row>
</div>
</ion-content>
