page-contact {
    .label-ios {
        margin: 10px 0px 0px 0 !important;
    }
    .toolbar-title-md {
        padding: 0 12px;
        font-size: 1.9rem !important;
    }
    .toolbar-title-ios {
        padding: 0 12px;
        font-size: 1.9rem !important;
    }
}
