
<ion-header>
  <ion-navbar style="padding:20px;" color=danger>
      <button ion-button  menuToggle>
        <ion-icon  class="menuToggle" ios="ios-menu-outline" md="ios-menu-outline" style="font-size: 3.2rem;"></ion-icon>
      </button>
    <ion-row>
      <img src="assets/imgs/Elogo.png" style="width: 63px; 
      height: 20px;
      margin-top: 4px;   
      margin-left: -8px;">
      <ion-title style="text-align:center; ">{{"attend"| translate}}</ion-title>
    </ion-row>
    <ion-buttons right>
      <button ion-button (click)="opennotificaion()">
        <ion-icon name="custom-notification" style="font-size: 2.2rem;"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
  <!-- ====================== fingure print ======================  -->
  <div style="width:100%;text-align:center" >
    <!-- https://thumbs.gfycat.com/KindheartedSimpleAppaloosa-size_restricted.gif -->
        <img src="assets/imgs/KindheartedSimpleAppaloosa-size_restricted.gif" style="width:100%;text-align:center;margin-top: 4px;" (click)="attend()" >

    <hr style="height: 2px;width: 100%;">
  </div>

  <!-- ================ Arrive and Leave =================== -->
  <ion-row>
    <ion-col>
      <ion-label style="font-size: 20px;font-family: Cairo-SemiBold;">{{'LOG' | translate}}</ion-label>
    </ion-col>
  </ion-row>
  <div style="width:100%;    margin-top: 12px;text-align:center">
    <ion-row style="width:100%;text-align:center">
      <ion-col col-6 style="text-align:center">
        <ion-row style="    height: 80px;background-color:white;color:black;text-align:center;box-shadow:0px 1px 1px 1px lightgray">
          <ion-col col-7>
            <p style="text-align:center;    margin-top: 0px;font-family: Cairo-SemiBold;">{{'Arrive' | translate}}</p>
            <ion-label style="color:gray; font-size:10px;font-family: Cairo-SemiBold;margin-top: 18px;"  >{{attendtime }}</ion-label>
          </ion-col>
          <ion-col col-5 style="padding-left: 0px;padding-right: 0px;">
            <ion-icon name="custom-login" style="color:#4456b9;font-size: 27px;margin-top: 1px;"></ion-icon>
           <ion-label style="color:gray; font-size:10px;font-family: Cairo-SemiBold;margin-top: 10px;" >{{attenddate}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-6 style="text-align:center">
        <ion-row style="    height: 80px; background-color:white;color:black;text-align:center;box-shadow:0px 1px 1px 1px lightgray">
          <ion-col col-7>
            <p style="text-align:center;    margin-top: 0px;font-family: Cairo-SemiBold;">{{'Leave'| translate}}</p>
            <ion-label style="color:gray; font-size:10px;font-family: Cairo-SemiBold;margin-top: 18px;" >{{leavetime}}</ion-label>
          </ion-col>
          <ion-col col-5 style="padding-left: 0px;padding-right: 0px;">
            <ion-icon name="custom-login" style="color:#7885d2;font-size: 27px;margin-top: 1px;"></ion-icon>
           <ion-label style="color:gray; font-size:10px;font-family: Cairo-SemiBold;margin-top: 10px;" >{{leavedate}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
