<ion-header>
   <ion-navbar style="padding:20px;" color=danger>
      <button ion-button  menuToggle>
        <ion-icon  class="menuToggle" ios="ios-menu-outline" md="ios-menu-outline" style="font-size: 3.2rem;    margin-left: 0px;
        margin-right: 0px;"></ion-icon>
      </button>
    <ion-row>
      <img src="assets/imgs/Elogo.png" style="width: 63px; height: 20px;margin-top: 4px;">
      <ion-title style="text-align:center;font-size: 2.7rem;">{{"Home" | translate}}</ion-title>
    </ion-row>
    <ion-buttons right>
      <button ion-button (click)="opennotificaion()">
        <ion-icon name="custom-notification" style="font-size: 2.2rem;"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
  <ion-row style="width:100%;background-color:#273688;height:33px">
    <ion-col col-4></ion-col>
    <ion-col col-4 style="padding: 0px;">
    <h4 style="text-align:center;color:white;margin-top:6px;font-family: Cairo-SemiBold;">{{dayame}}</h4>
  </ion-col>
    <ion-col col-4></ion-col>
  </ion-row>
  <div style="width:100%;background-color:#4456b9;height:90px;margin-top: -2px;">
    <ion-row>
      <ion-col col-4 style="    margin-top: 20px;">
        <h3 class="month">{{month}}</h3>
      </ion-col>
      <ion-col col-4 style="    margin-top: 0px;">
        <h1 style="color:white;text-align:center;font-size:6.3rem;font-family: Cairo-Bold;"> {{day}}</h1>
      </ion-col>
      <ion-col col-4 style="    margin-top: 22px;">
        <h3 style="color:white;text-align:center;font-size:2.2rem;font-family:Cairo-SemiBold;    margin-right: 15px;"> {{year}}</h3>
      </ion-col>
    </ion-row>
  </div>
  <div style="width:100%;    margin-top: 12px;text-align:center">
    <ion-row style="width:100%;text-align:center;">
      <ion-col col-4 *ngFor="let item of varra" style="text-align:center;">
            <ion-row style="background-color:#4456b9;color:white;text-align:center;height:47px;">
                <h5 style="font-size: 14px;margin-top: 14px;text-align:center;font-family: Cairo-SemiBold;     padding: 5px;   margin:auto;width:100%;" *ngIf="langDirection=='ltr'">{{item.Name}}</h5>
                <h5 style="font-size: 14px;margin-top: 14px;text-align:center;font-family: Cairo-SemiBold;padding: 5px;      margin:auto;width:100%;" *ngIf="langDirection=='rtl'">{{item.Name}}</h5>
              </ion-row>
              <ion-row  style="    height: auto;background-color:white;color:black;text-align:center;box-shadow:0px 1px 1px 1px lightgray">
                <h5 style="text-align:center;margin-top: 6px; margin-right: 45%;    margin-left: 45%; color:#666; margin-left:auto;" *ngIf="langDirection=='ltr'">{{item.Balance}}</h5>
               
                <h5 style="text-align:center;margin-top: 6px; margin-right: 45%;    margin-left: 45%; color:#666;" *ngIf="langDirection!='ltr'">{{item.Balance}}</h5>
              </ion-row>
        
      </ion-col>
      <ion-col *ngIf="varra.length < 1" style="box-shadow: 1px 1px 4px 1px lightgrey;margin:auto;text-align:center">
        <p style="text-align: center;font-family:Cairo-SemiBold;font-size: 20px; margin:auto;">{{'NoVacations' | translate}}</p>
      </ion-col>
    </ion-row>
  </div>
  <hr style=" margin-top: 14px; height: 2px;">
  <div style="width:100%">
    <ion-label dir="*ngif(this.platform.isRTL)? rtl : ltr" style="margin-bottom: 20px;font-size: 21px;font-family: Cairo-SemiBold;">
      {{"ACTIONS" | translate}}
    </ion-label>
    <div style="width:100%;text-align:center;   margin-top: 12px">
      <div *ngIf="actionArray.length < 1">
        <ion-row style=" width:100% ;text-align:center">
          <ion-col style="box-shadow: 1px 1px 4px 1px lightgrey;margin:auto;text-align:center">
            <p style="text-align: center;font-family:Cairo-SemiBold;font-size: 20px; margin:auto;">{{'NoIssues' | translate}}</p>
          </ion-col>
        </ion-row>
      </div>
      <div style="width:100%;    margin-top: 12px;text-align:center">
        <ion-row style="width:100%;text-align:center">
        <ion-col col-6 style="margin-top: -14px;margin-bottom:12px;text-align:center;    height: 110px;" *ngFor="let item of actionArray; let i=index">
          <div style=" width:100%;box-shadow: 1px 1px 4px 1px lightgrey;">
          <p style="text-align: center;font-family:Cairo-SemiBold; margin-bottom:0px;    margin-top: -3px;">{{item.StatusName}}</p>
          <p style="text-align: center;font-family:Cairo-SemiBold; margin-top:-2px; ">{{item.AttendDay.split('T')[0]}}</p>
          <p style="text-align:center">
            <button ion-button style="background-color: #4456b9;text-align:center;    font-family: Cairo-SemiBold;
         font-size: 16px;    width: 100px;    margin-top: -8px;
         " (click)="fix(item.ScreenFlag,item.AttendDay.split('T')[0])">
              {{"Fix" | translate}}
            </button>
          </p>
        </div> 
        </ion-col>
      </ion-row>
      </div>
    </div>
  </div>
</ion-content>
