page-home {
    h3{color:red;
        text-align: center;
    }
    .list-md .item-block .item-inner {
        border-bottom: 1px solid #ffffff !important;
    }
    .list-ios .item-block .item-inner {
        border-bottom: 1px solid #ffffff !important;
    }
    @media screen and (min-width:320px) and (max-width:390px){
        .month
        {
           color:white;
           text-align:center; 
              font-size: 1.5rem;
           font-family: Cairo-SemiBold;
           margin-left: 15px;
           margin-top: 4px !important;
       
        }
    }
    @media screen and (min-width:390px) and (max-width:1024px){
        .month
        {
           color:white;
           text-align:center;font-size:2rem;font-family:Cairo-SemiBold;    margin-left: 15px;
        }
    }
    @media screen and (min-width:1024px) {
        .month
        {
           color:white;
           text-align:center;font-size:2rem;font-family:Cairo-SemiBold;    margin-left: 15px;
        }
    }
}
