
<ion-header>
  <ion-navbar style="padding:20px;" color=danger hideBackButton>
    <ion-row>
        <img src="assets/imgs/Elogo.png" style="       margin-right: 8px;   margin-left: 8px;  width: 63px; 
        height: 20px;
        margin-top: 4px;">
      <ion-title style="text-align:center; font-size:9px;">
        {{ "PERMISSSIONREQUEST" | translate }}
      </ion-title>

    </ion-row>
    <ion-buttons right *ngIf="langDirection=='ltr'">
      <button ion-button (click)="ViewCtrl.dismiss()">
          <ion-icon md="ios-arrow-forward" ios="ios-arrow-forward" style="font-size: 2.5rem;" ></ion-icon>
      </button>
      </ion-buttons>
      <ion-buttons right *ngIf="langDirection=='rtl'">
        <button ion-button (click)="ViewCtrl.dismiss()">
            <ion-icon md="ios-arrow-back-outline" ios="ios-arrow-back-outline" style="font-size: 2.5rem;" ></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>

  <ion-row>
    <ion-col col-4>
      <div style="background-color:#4456b9; width:85px;height:35px;">
        <ion-label style="text-align: center;padding: 7px;color: whitesmoke;font-family: Cairo-SemiBold;"> {{'Balance' | translate}}</ion-label>
      </div>
      <div style="box-shadow: 1px 1px 1px 1px lightgrey;background-color: whitesmoke;width:86px;height:26px;padding: 4px;">
        <ion-label style="text-align: center;font-family: Cairo-SemiBold;" >{{Balance}}</ion-label>
      </div>
    </ion-col>
    <ion-col col-4>
      <div style="background-color:#4456b9;width:85px;height:35px;">
        <ion-label style="text-align: center;padding: 7px;color: whitesmoke;font-family: Cairo-SemiBold;"> {{'Min' | translate}}</ion-label>
      </div>
      <div style="box-shadow: 1px 1px 1px 1px lightgrey;background-color: whitesmoke;width:86px;height:26px;padding: 4px;">
        <ion-label style="text-align: center;font-family: Cairo-SemiBold;" >{{ Min }} </ion-label>
      </div>
    </ion-col>
    <ion-col col-4>
      <div style="background-color:#4456b9;width:85px;height:35px;">
        <ion-label style="text-align: center;padding: 7px; color: whitesmoke;font-family: Cairo-SemiBold;">  {{'Max' | translate}}</ion-label>
      </div>
      <div style="text-align: center;background-color: whitesmoke;width:86px;height:26px;padding: 4px;box-shadow: 1px 1px 1px 1px lightgrey;">
        <ion-label style="text-align: center;font-family: Cairo-SemiBold;" >{{ Max }}</ion-label>
      </div>
    </ion-col>
  </ion-row>
  <p style="font-family: Cairo-SemiBold;">{{"Date" | translate}}</p>
  <ion-item style="margin: 0px; box-shadow: 1px 1px 1px 1px lightgrey;margin-top: -9px;">
   <p dir="*ngif(this.platform.isRTL)? rtl : ltr" *ngIf="hide=='false'" >{{date }}</p>
    <ion-label dir="*ngif(this.platform.isRTL)? rtl : ltr" ngControl="date"
      (click)="getdate()" *ngIf="dis=='false'">
   {{DATE}}
  </ion-label>
  </ion-item>
  <p style="margin-top: 8px;font-family: Cairo-SemiBold;">{{"MinutesNumber" | translate}}</p>
  <ion-item style="margin: 0px; box-shadow: 1px 1px 1px 1px lightgrey;margin-top: -9px;">
    <ion-input dir="*ngif(this.platform.isRTL)? rtl : ltr"  type="number" [(ngModel)]="PERMISSION" style="font-family: Cairo-SemiBold;">{{ PERMISSION }}</ion-input>
  </ion-item>

  <p style="margin-top: 8px;font-family: Cairo-SemiBold;">{{'Notes' | translate}}</p>
  <ion-item style="margin: 0px; box-shadow: 1px 1px 1px 1px lightgrey;margin-top: -9px;">
    <ion-input dir="*ngif(this.platform.isRTL)? rtl : ltr" placeholder="{{'Notes' | translate}}" type="text" [(ngModel)]="NOTE" style="font-family: Cairo-SemiBold;">{{ NOTE }}</ion-input>

  </ion-item>
  <ion-row>
    <ion-col>
      <button (click)="savePermissionReq()" style="margin-top: 10px;background-color:#4456b9;font-family: Cairo-SemiBold;" ion-button full text-center class="c1">
        {{ "Save" | translate}}
      </button>
    </ion-col>
  </ion-row>
  <br><br>
</ion-content>
