<ion-header>
  <ion-navbar style="padding:20px;" color=danger hideBackButton>
    
        <ion-row>
            <img src="assets/imgs/Elogo.png" style="    margin-right: 8px;margin-left: 8px;width: 63px; 
            height: 20px;
            margin-top: 4px;">
        <ion-title *ngIf="pagename=='AttendPage'" style="text-align:center; 
        font-size: 1.8rem;   ">{{"Attendance" | translate}}</ion-title>
        <ion-title *ngIf="pagename=='SalaryPage'" style="text-align:center;  
        font-size: 1.8rem; ">{{"SalaryElements" | translate}}</ion-title>
        <ion-title *ngIf="pagename=='Bounes'" style="text-align:center;  
        font-size: 1.8rem;">{{ "Bonusespenalties" | translate}}</ion-title>
      </ion-row>
      <ion-buttons right *ngIf="langDirection=='ltr'">
          <button ion-button (click)="ViewCtrl.dismiss()">
              <ion-icon md="ios-arrow-forward" ios="ios-arrow-forward"  style="font-size: 2.5rem;" ></ion-icon>
          </button>
          </ion-buttons>
          <ion-buttons right *ngIf="langDirection=='rtl'">
            <button ion-button (click)="ViewCtrl.dismiss()">
                <ion-icon md="ios-arrow-back-outline"  ios="ios-arrow-back-outline" style="font-size: 2.5rem;" ></ion-icon>
            </button>
        </ion-buttons>
      </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-label *ngIf="pagename=='AttendPage'" style="text-align:center;font-size: 25px;">{{"Attendance" | translate}}</ion-label>
    <ion-label *ngIf="pagename=='SalaryPage'" style="text-align:center;font-size: 25px;">{{"SalaryElements" | translate}}</ion-label>
    <ion-label *ngIf="pagename=='Bounes'" style="text-align:center;font-size: 25px;">{{ "Bonusespenalties" | translate}}</ion-label>
      <table id="t01" [hidden]="hide" style="width:100%">
          <tr>
            <th style="font-size: 13px;">{{"WorkingHours" | translate}}</th>
            <td ><p style="color: #4456b9; font-size: 13px;text-align: center;">{{workinghours}} {{"hr"|translate}} </p> </td>
          </tr>
          <tr>  
            <th >{{"TotalDelayHours" | translate}}</th>
            <td ><p style="color: #4456b9; font-size: 13px;text-align: center;">{{totaldelayhours}} {{"hr"|translate}}</p> </td>
          </tr>
          <tr>
              <th  style="font-size: 13px;">{{"TotalOverTimeHours" | translate}}</th>
              <td ><p style="color: #4456b9; font-size: 13px;text-align: center;">{{totalovertime}} {{"hr"|translate}}</p> </td>
         </tr>
         <tr>       
              <th  style="font-size: 13px;" >{{"TotalOverTimeHoursValue" | translate}}</th>
              <td ><p style="color: #4456b9; font-size: 13px;text-align: center;">{{totalovertimeval}} {{"le"|translate}} </p> </td>
          </tr>
          <tr>
            <th  style="font-size: 13px;"> {{"TotalDelayHoursValue" | translate}}</th> 
            <td ><p style="color: #4456b9; font-size: 13px;text-align: center;">{{totaldelayhoursval}} {{"le"|translate}}</p> </td>
          </tr>
        </table>
        <table id="t01" [hidden]="show" style="width:100%">
                <tr *ngFor="let item of salaryarray">
                  <th style="font-size: 13px;">{{item.Name}}</th>
                  <td ><p style="color: #4456b9; font-size: 13px;text-align: center;">{{item.Value}} </p> </td>
                </tr>
                </table>
                <table id="t01" [hidden]="show1" style="width:100%">
                  <tr >
                    <th style="font-size: 13px;">{{'Bounes' | translate}}</th>
                    <td ><p style="color: #4456b9; font-size: 13px;text-align: center;">{{bounes}} </p> </td>
                  </tr>
                  <tr >
                    <th style="font-size: 13px;">{{'penalities' | translate}}</th>
                    <td ><p style="color: #4456b9; font-size: 13px;text-align: center;">{{penalites}} </p> </td>
                  </tr>
                  </table>
                  
</ion-content>
