page-attendance {
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    
    th, td {
        padding: 4px;
     

    }
    page-attendance th {
        padding: 4px;
       }

}
