
<ion-header>
  <ion-navbar style="padding:20px;" color=danger hideBackButton>
  

    <ion-row>
        <img src="assets/imgs/Elogo.png" style="       margin-right: 8px; margin-left: 8px; width: 63px; 
        height: 20px;
        margin-top: 4px;">
      <ion-title style="text-align:center; font-size:9px;">
        {{ "OVERTIMEREQUEST" | translate }}
      </ion-title>

    </ion-row>
    <ion-buttons right *ngIf="langDirection=='ltr'">
      <button ion-button (click)="ViewCtrl.dismiss()">
          <ion-icon md="ios-arrow-forward" ios="ios-arrow-forward" style="font-size: 2.5rem;" ></ion-icon>
      </button>
      </ion-buttons>
      <ion-buttons right *ngIf="langDirection=='rtl'">
        <button ion-button (click)="ViewCtrl.dismiss()">
            <ion-icon md="ios-arrow-back-outline" ios="ios-arrow-back-outline"  style="font-size: 2.5rem;" ></ion-icon>
        </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content padding>
  <p>{{"Date" | translate}}</p>
  <ion-item style="margin: 0px; box-shadow: 1px 1px 1px 1px lightgrey;margin-top: -9px;">
      <p dir="*ngif(this.platform.isRTL)? rtl : ltr" *ngIf="hide=='false'" >{{date }}</p>
    <ion-label    dir="*ngif(this.platform.isRTL)? rtl : ltr"  (click)="getdate()" *ngIf="dis=='false'">
     {{DATE}}
    </ion-label>
  
  </ion-item>


  <p style="margin-top: 8px;font-family: Cairo-SemiBold;">{{"MinutesNumber" | translate}}</p>
  <ion-item style="margin: 0px; box-shadow: 1px 1px 1px 1px lightgrey;margin-top: -9px;">
    <ion-input type="number" disabled="true" [(ngModel)]="PERMISSION" dir="*ngif(this.platform.isRTL)? rtl : ltr">
      {{ PERMISSION}}
    </ion-input>
  </ion-item>
  <p style="margin-top: 8px;font-family: Cairo-SemiBold;"> {{"Notes" | translate}}</p>
  <ion-item style="margin: 0px; box-shadow: 1px 1px 1px 1px lightgrey; margin-top: -9px;">
    <ion-input placeholder="{{'Notes' | translate}}" type="text" [(ngModel)]="NOTE" dir="*ngif(this.platform.isRTL)? rtl : ltr"></ion-input>
  </ion-item>

  <ion-row>
    <ion-col>
      <button [disabled]="PERMISSION<1" (click)="saveOvertimeReq()" style="margin-top: 10px;background-color:#4456b9;font-family: Cairo-SemiBold;" ion-button full text-center class="c1">
        {{ "Save" | translate}}
      </button>
    </ion-col>
  </ion-row>
  <br><br>


</ion-content>
