<ion-menu [content]="content"     [attr.side]="this.platform.dir()==='ltr'?'left':'right'">
  <ion-content style="font-family: 'Cairo-Regular' !important;">
    <div style="width:100%;text-align: left;">
      <ion-row>
        <ion-col col-5 style="margin-right:0px;">
          <img dir="*ngif(this.platform.isRTL)? rtl : ltr" src="{{photo}}" class="circle-pic"
          onerror="this.onerror=null;this.src='assets/imgs/profile.jpg';">
        </ion-col>
        <ion-col *ngIf="this.platform.dir()==='ltr'" col-7 style="margin-left: 0px;margin-top: 10px;text-align: left;"> 
          <h1 dir="*ngif(this.platform.isRTL)? rtl : ltr" style="margin-top: 4rem;font-size: 1.8rem;color:#4456b9;">{{name}}</h1>
          <h4 dir="*ngif(this.platform.isRTL)? rtl : ltr" style="color:gray;margin-top: 1rem;font-size: 1.7rem;">ID: {{id}}</h4>
        </ion-col>
        <ion-col *ngIf="this.platform.dir()==='rtl'" col-7 style="margin-left: 0px;margin-top: 10px;margin-right: 0px;text-align: right"> 
          <h1 dir="*ngif(this.platform.isRTL)? rtl : ltr" style="margin-top: 4rem;font-size: 1.8rem;color:#4456b9;">{{name}}</h1>
          <h4 dir="*ngif(this.platform.isRTL)? rtl : ltr" style="color:gray;margin-top: 1rem;font-size: 1.7rem;">ID: {{id}}</h4>
        </ion-col>
      </ion-row>
    </div>
    <ion-list no-lines style="margin-top: -7px;">
      <button menuClose ion-item (click)="openhome()" style="margin-bottom: -8px;">
        <ion-row dir="*ngif(this.platform.isRTL)? rtl : ltr" style="margin-right: 0px;margin-top: 30px;">
          <ion-icon name="custom-home" style="font-size:21px;color:#4456b9;"></ion-icon>
          <h2 style="margin-right: 10px;margin-left: 10px; color:gray; font-size:18px;color:#4456b9;">{{"Home"| translate}}</h2>
        </ion-row>
      </button>
      <button menuClose ion-item (click)="openattend()" style="margin-bottom: -8px;">
        <ion-row dir="*ngif(this.platform.isRTL)? rtl : ltr" style="margin-right: 0px">
          <ion-icon name="custom-print" style="font-size:21px;color:gray"></ion-icon>
          <h2 style="margin-right: 10px;margin-left: 10px; color:gray; font-size:18px;">{{"attend"|translate}} </h2>
        </ion-row>
      </button>
      <button menuClose ion-item (click)="openpaylips()" style="margin-bottom: -8px;">
        <ion-row dir="*ngif(this.platform.isRTL)? rtl : ltr" style="margin-right: 0px">
          <ion-icon name="custom-mobile" style="font-size:21px;color:gray;"></ion-icon>
          <h2 style="    margin-right: 10px;margin-left: 10px; color:gray; font-size:18px;">{{"Payslip"|translate}} </h2>
        </ion-row>
      </button>
      <button menuClose ion-item (click)="requests()" style="margin-bottom: -8px;">
        <ion-row dir="*ngif(this.platform.isRTL)? rtl : ltr"style="margin-right: 0px">
          <ion-icon name="custom-request" style="font-size:21px;color:gray;"></ion-icon>
          <h2 style="    margin-right: 10px;margin-left: 10px; color:gray; font-size:18px;">{{"Requests"|translate}} </h2>
        </ion-row>
      </button>
      <button menuClose ion-item (click)="openPendingRequests()" *ngIf="isAdmin==true" style="margin-bottom: -8px;">
        <ion-row dir="*ngif(this.platform.isRTL)? rtl : ltr"style="margin-right: 0px;">
          <ion-icon name="custom-message" style="font-size:21px;color:gray"></ion-icon>
          <h2 style="    margin-right: 10px;margin-left: 10px; color:gray; font-size:18px;"> 
            {{ "PendingRequest" | translate }} 
          
          </h2>
        </ion-row>
      </button>
      <button menuClose ion-item (click)="openmessgaes()" style="margin-bottom: -8px;">
        <ion-row dir="*ngif(this.platform.isRTL)? rtl : ltr" style="margin-right: 0px;">
          <ion-icon name="custom-message" style="font-size:21px;color:gray"></ion-icon>
          <h2 style="    margin-right: 10px;margin-left: 10px; color:gray; font-size:18px;"> {{"Messages"| translate}}</h2>
        </ion-row>
      </button>
      <button menuClose ion-item (click)="opensetting()" style="margin-bottom: -8px;">
        <ion-row dir="*ngif(this.platform.isRTL)? rtl : ltr" style="margin-right: 0px;">
          <ion-icon md="ios-globe" ios="ios-globe" style="font-size:21px;color:gray"></ion-icon>
          <h2 style="    margin-right: 10px;margin-left: 10px; color:gray; font-size:18px;">{{"Language" | translate}}</h2>
        </ion-row>
      </button>
      <button menuClose ion-item (click)="logout()" style="margin-bottom: -8px;">
        <ion-row dir="*ngif(this.platform.isRTL)? rtl : ltr" style="margin-right: 0px;">
          <ion-icon name="custom-logout" style="font-size:21px;color:gray"></ion-icon>
          <h2 style="    margin-right: 10px;margin-left: 10px; color:gray; font-size:18px;"> {{"logout"| translate}}</h2>
        </ion-row>
      </button>
    </ion-list>
    <h3 style="color:#525252;font-size: 1.4rem;text-align:center;margin-top: 2.9rem;">Powered by CloudSoft5 version 1.0 </h3>
  </ion-content>
</ion-menu>

<!-- <ion-menu [content]="content"  *ngIf="!(this.platform.isRTL)"  side="left">
  <ion-content>
    <div style="width:100%;text-align: left;">
      <ion-row>
        <ion-col col-6 style="    margin-right: -20px;">
          <img dir="*ngif(this.platform.isRTL)? rtl : ltr" src="{{photo}}" class="circle-pic"
          onerror="this.onerror=null;this.src='assets/imgs/profile.jpg';">
        </ion-col>
        <ion-col col-6 style="    margin-left: 0px;"> 
          <h1 dir="*ngif(this.platform.isRTL)? rtl : ltr" style="margin-top: 4rem;font-size: 1.8rem;color:#4456b9;">{{name}}</h1>
          <h4 dir="*ngif(this.platform.isRTL)? rtl : ltr" style="color:gray;margin-top: 1rem;font-size: 1.7rem;">ID: {{id}}</h4>
        </ion-col>
      </ion-row>
    </div>
    <ion-list no-lines style="margin-top: -7px;">
      <button menuClose ion-item (click)="openhome()" style="margin-bottom: -8px;">
        <ion-row dir="*ngif(this.platform.isRTL)? rtl : ltr" style="margin-right: 0px;margin-top: 30px;">
          <ion-icon name="custom-home" style="font-size:21px;color:#4456b9;"></ion-icon>
          <h2 style="margin-right: 10px;margin-left: 10px; color:gray; font-size:18px;color:#4456b9;">{{"Home"| translate}}</h2>
        </ion-row>
      </button>
      <button menuClose ion-item (click)="openattend()" style="margin-bottom: -8px;">
        <ion-row dir="*ngif(this.platform.isRTL)? rtl : ltr" style="margin-right: 0px">
          <ion-icon name="custom-print" style="font-size:21px;color:gray"></ion-icon>
          <h2 style="margin-right: 10px;margin-left: 10px; color:gray; font-size:18px;">{{"attend"|translate}} </h2>
        </ion-row>
      </button>
      <button menuClose ion-item (click)="openpaylips()" style="margin-bottom: -8px;">
        <ion-row dir="*ngif(this.platform.isRTL)? rtl : ltr" style="margin-right: 0px">
          <ion-icon name="custom-mobile" style="font-size:21px;color:gray;"></ion-icon>
          <h2 style="    margin-right: 10px;margin-left: 10px; color:gray; font-size:18px;">{{"Payslip"|translate}} </h2>
        </ion-row>
      </button>
      <button menuClose ion-item (click)="requests()" style="margin-bottom: -8px;">
        <ion-row dir="*ngif(this.platform.isRTL)? rtl : ltr"style="margin-right: 0px">
          <ion-icon name="custom-request" style="font-size:21px;color:gray;"></ion-icon>
          <h2 style="    margin-right: 10px;margin-left: 10px; color:gray; font-size:18px;">{{"Requests"|translate}} </h2>
        </ion-row>
      </button>
      <button menuClose ion-item (click)="openPendingRequests()" *ngIf="isAdmin==true" style="margin-bottom: -8px;">
        <ion-row dir="*ngif(this.platform.isRTL)? rtl : ltr"style="margin-right: 0px;">
          <ion-icon name="custom-message" style="font-size:21px;color:gray"></ion-icon>
          <h2 style="    margin-right: 10px;margin-left: 10px; color:gray; font-size:18px;"> 
            {{ "PendingRequest" | translate }} 
            <!-- {{"Requests"|translate}} 
          </h2>
        </ion-row>
      </button>
      <button menuClose ion-item (click)="openmessgaes()" style="margin-bottom: -8px;">
        <ion-row dir="*ngif(this.platform.isRTL)? rtl : ltr" style="margin-right: 0px;">
          <ion-icon name="custom-message" style="font-size:21px;color:gray"></ion-icon>
          <h2 style="    margin-right: 10px;margin-left: 10px; color:gray; font-size:18px;"> {{"Messages"| translate}}</h2>
        </ion-row>
      </button>
      <button menuClose ion-item (click)="opensetting()" style="margin-bottom: -8px;">
        <ion-row dir="*ngif(this.platform.isRTL)? rtl : ltr" style="margin-right: 0px;">
          <ion-icon md="ios-globe" ios="ios-globe" style="font-size:21px;color:gray"></ion-icon>
          <h2 style="    margin-right: 10px;margin-left: 10px; color:gray; font-size:18px;">{{"Language" | translate}}</h2>
        </ion-row>
      </button>
      <button menuClose ion-item (click)="logout()" style="margin-bottom: -8px;">
        <ion-row dir="*ngif(this.platform.isRTL)? rtl : ltr" style="margin-right: 0px;">
          <ion-icon name="custom-logout" style="font-size:21px;color:gray"></ion-icon>
          <h2 style="    margin-right: 10px;margin-left: 10px; color:gray; font-size:18px;"> {{"logout"| translate}}</h2>
        </ion-row>
      </button>
    </ion-list>
    <h3 style="color:#525252;font-size: 1.4rem;text-align:center;margin-top: 2.9rem;">Powered by CloudSoft5 version 1.0 </h3>
  </ion-content>
</ion-menu> -->
<ion-nav id="nav" #content [root]="rootPage"></ion-nav>
