ion-navbar.toolbar.toolbar-ios.statusbar-padding {
  padding: 20px 0 0 0 !important;
}
.alert-ios .alert-checkbox-group, .alert-ios .alert-radio-group {
  overflow: scroll !important;
  }
.rtl{
  text-align: right !important;
}
.alert-md .alert-radio-icon {
  left: 10px !important;
  right: 12px;  
  top: 0 !important;
  border-radius: 50%;
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  border-width: 2px;
  border-style: solid;
  border-color: #787878;
}
.alert-md .alert-checkbox-icon {
  left: 10px !important;
  right: 12px;  
  top: 0 !important;
  border-radius: 50%;
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  border-width: 2px;
  border-style: solid;
  border-color: #787878;
}
.alert-ios .alert-checkbox-icon {
  left: 10px !important;
  right: 12px;  
  top: 0 !important;
  border-radius: 50%;
  position: relative;
  display: block;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  background-color: transparent;
}

// .alert-ios [aria-checked=true] .alert-radio-inner {
//   left: 7px;
//    top: 0px !important; 
//   position: absolute;
//   width: 6px;
//   height: 12px;
//   border-width: 2px;
//   border-top-width: 0;
//   border-left-width: 0;
//   border-style: solid;
//   border-color: #488aff;
//   -webkit-transform: rotate(45deg);
//   transform: rotate(45deg);
// }
// .alert-ios [aria-checked=true] .alert-checkbox-inner {
//   left: 7px;
//    top: 0px !important; 
//   border-color: #488aff;
  
// }
// .alert-ios .alert-tappable {
//   display: -webkit-box;
//   display: -webkit-flex;
//   display: -ms-flexbox;
//   display: flex;
//   min-height: 100% !important;
// }
.alert-ios .alert-radio-icon {
  left: 0px !important;
  right: 0px;  
  top: 0 !important;
  border-radius: 50%;
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  border-width: 2px;
  border-style: unset !important;
  border-color: #787878;
}
.ltr{
  text-align: left !important;
}
@font-face {
    font-family: "Cairo-Black";
    src: url('/assets/ERPfonts/Cairo-Black.ttf');  
}
@font-face {
    font-family: "Cairo-Bold";
    src: url('/assets/ERPfonts/Cairo-Bold.ttf');  
}
@font-face {
    font-family: "Cairo-SemiBold";
    src: url('../assets/ERPfonts/Cairo-SemiBold.ttf')  
}
@font-face {
    font-family: "Cairo-ExtraLight";
    src: url('../assets/ERPfonts/Cairo-ExtraLight.ttf');  
}
@font-face {
    font-family: "Cairo-Light";
    src: url('../assets/ERPfonts/Cairo-Light.ttf');  
}
@font-face {
    font-family: "Cairo-Regular";
    src: url('../assets/ERPfonts/Cairo-Regular.ttf');  
}
.ion-page.show-page {
  font-family: "Cairo-Regular" !important;
}
ion-app{
  font-family: "Cairo-Regular" !important;
}
.toast-message {
  font-family: "Cairo-Regular" !important;
}
ion-popover.invitePopover >div.popover-wrapper>div.popover-content {
  width: 95% !important;
  top: 100px !important;
  max-height: 70% !important; 
}
ion-icon {
    &[class*="custom-"] {
      mask-size: contain;
      mask-position: 50% 50%;
      mask-repeat: no-repeat;
      background: currentColor;
      width: 1em;
      height: 1em;
    }
  
    &[class*="custom-mobile"] {
      mask-image: url(../assets/icons/money-bag-with-dollar-symbol.svg);
    }
    &[class*="custom-logout"] {
      mask-image: url(../assets/icons/logout.svg);
    }
    &[class*="custom-request"] {
      mask-image: url(../assets/icons/note-black-paper-with-text-lines.svg);
    }
    &[class*="custom-home"] {
        mask-image: url(../assets/icons/house-black-silhouette-without-door.svg);
      }
      &[class*="custom-message"] {
        mask-image: url(../assets/icons/chat-bubbles.svg);
      }
      &[class*="custom-print"] {
        mask-image: url(../assets/icons/print.svg);
      }
      &[class*="custom-notification"] {
        mask-image: url(../assets/icons/notification.svg);
      }
      &[class*="custom-login"] {
        mask-image: url(../assets/icons/login.svg);
      }
      &[class*="custom-logout"] {
        mask-image: url(../assets/icons/logout.svg);
      }
  }
  .alert-md .alert-title {
    font-size: 18px !important;
}
.alert-ios .alert-title {
  font-size: 18px !important;
}
.circle-pic{
    border:2px solid #4456b9;

    width: 97px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    margin-top: 30px;
    margin-left: 1px;
}
#tab-t2-2{
  padding: 0px;
  height:70px;
  min-width:70px;
  max-width:70px;
  border:2px solid #4456b9 !important; 
  border-radius:50% !important;
  color:#4456b9;
}
.item-ios[detail-push] .item-inner, button.item-ios:not([detail-none]) .item-inner, a.item-ios:not([detail-none]) .item-inner {

  background-position: right -10px center !important;
}
#tab-t1-2{
  padding: 0px;
  height:70px;
  min-width:70px;
  max-width:70px;
  border:2px solid #4456b9 !important; 
  border-radius:50% !important;
  color:#4456b9;
}
#tab-t7-2{
  padding: 0px;
  height:70px;
  min-width:70px;
  max-width:70px;
  border:2px solid #4456b9 !important; 
  border-radius:50% !important;
  color:#4456b9;
}

.tabs-md .tab-button-icon:active{
  color:#4456b9;
}
.tabs-ios .tab-button-icon:active{
  color:#4456b9;
}
.menuToggle{
  // color:red;
  font-size: 4.2rem;
  /* display: inline-block; */
  /* padding: 0px; */
  /* margin: 0px; */
  line-height: 0;  font-weight: 900;
}
.alert-button-group {
  flex-direction: row-reverse !important;
  justify-content: flex-start !important;
}
// .toolbar-title-ios {
//   text-align: center;
//   font-size: 2.5rem !important;
//   font-weight: 600;
//   color: #000;
//   pointer-events: auto;
// }
// .toolbar-title-md {
//   text-align: center;
//   font-size: 2.5rem !important;
//   font-weight: 600;
//   color: #000;
//   pointer-events: auto;
// }