page-requests {
    .scroll-content {
        padding: 0px !important;
    }
.tabss{

    background: #4456b9;
}
.segment-md .segment-button {
    color:#fff;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 5rem;
    opacity: 1;
}
.segment-ios .segment-button {
    color:#fff;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 5rem;
    opacity: 1;
}
.segment-md .segment-button.segment-activated {background: #fff;
    color:#4456b9;
    border:1px solid #aaa
}
.segment-ios .segment-button.segment-activated {background: #fff;
    color:#4456b9;
    border:1px solid #aaa
}
.buttonadd{
    background: #4456b9;
}

.label-md{
    text-align:right;
}
.label-ios{
    text-align:right;
}
.item-md.item-block .item-inner{
    padding:0px;
}
.item-ios.item-block .item-inner{
    padding:0px;
}
.card-content-md{
    padding-right: 3px;

}
.card-content-ios{
    padding-right: 3px;

}
.card-header-md{
    padding:0px;
}
.card-header-ios{
    padding:0px;
}
.left{
    text-align:left;
}
.right{
    text-align:right;
}
.approved{
    height:2.6rem;
    background: #4456b9;
}
.grid{
    padding:5px;
}
.ion-row{
    padding-right: 6px;
    padding-left: 6px;
}
.segment-button segment-activated{
    height:50px;
}
.segment-md .segment-button{
    height:5rem;
    border-color: #4456b9;
}
.segment-ios .segment-button{
    height:5rem;
    border-color: #4456b9;
}
}
