


<ion-header>
  <ion-navbar style="padding:20px;" color=danger>

   
      <button ion-button  menuToggle>
        <ion-icon  class="menuToggle" ios="ios-menu-outline" md="ios-menu-outline" style="font-size: 3.2rem;"></ion-icon>
      </button>
   
    <ion-row>
      <img src="assets/imgs/Elogo.png" style="width: 63px; 
      height: 20px;
      margin-top: 4px;">
      <ion-title style="text-align:center;  font-size:1.6em;  ">{{"Requests" | translate}}</ion-title>

    </ion-row>
    <ion-buttons right>
      <button ion-button (click)="opennotificaion()">
        <ion-icon name="custom-notification" style="font-size:  2.2rem;"></ion-icon>
      </button>

    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
  <div padding>
    <ion-segment class="tabss" [(ngModel)]="cat">
      <ion-segment-button (click)="getRequests()" value="LEAVE" style="font-size: 11px; font-family: Cairo-SemiBold;    text-transform: none;">
        {{'LEAVE' | translate}}
      </ion-segment-button>
      <ion-segment-button id="outside" (click)="getoffState()" value="OUTSIDEOFFICE" style="font-size: 11px; font-family: Cairo-SemiBold;    text-transform: none;">
        {{'OUTSIDEOFFICE' | translate}}
      </ion-segment-button>
      <ion-segment-button (click)="getPermission()" value="PERMISSION" style="font-size: 11px; font-family: Cairo-SemiBold;    text-transform: none;">
        {{'PERMISSION' | translate}}
      </ion-segment-button>
      <ion-segment-button (click)="getOvertime()" value="OVERTIME" style="font-size: 11px; font-family: Cairo-SemiBold;    text-transform: none;">
        {{'OVERTIME' | translate}}
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="cat">
    <ion-list *ngSwitchCase="'LEAVE'" nolines>
      <div *ngIf="req?.length<1">
        <ion-row style=" margin-top:20px; width:100% ;text-align:center">
          <ion-col col-6 style="    box-shadow: 1px 1px 4px 1px lightgrey;margin:auto;text-align:center">
            <p style="text-align: center;font-family:Cairo-SemiBold;font-size: 20px; margin:auto;">{{'NoLeaves'|translate}}</p>
          </ion-col>
        </ion-row>
      </div>

      <ion-list nolines> 
        <ion-item-sliding *ngFor="let post of req ,let i=index" style="border-bottom: 0px solid white">

          <ion-item style="border-bottom: 0px solid white">
            <ion-card>
              <ion-card-header style="padding-bottom: 0px; margin-bottom: 0px;">

                <ion-grid>
                  <ion-row style="padding-left:15px; padding-right:15px; padding-bottom: 0px; margin-bottom: 0px;">
                    <ion-col *ngIf="this.platform.dir()==='rtl'" style="    margin-right: -11px;text-align:right;font-family: Cairo-SemiBold;">
                      {{post.EventName}}
                    </ion-col>
                    <ion-col *ngIf="this.platform.dir()==='ltr'" style="text-align:left;font-family: Cairo-SemiBold;">
                      {{post.EventName}}
                    </ion-col>
                    <ion-col [ngClass]="(this.platform.dir()==='ltr')?'right':'left'" *ngIf="post.RequestStatusName == 'Pending'||post.RequestStatusName == 'لم يتم الرد' ">
                      <button *ngIf="this.platform.dir()==='ltr'" style="background:transparent;text-align:left" (click)="deleteevent(post.EventId)">
                        <ion-icon style="text-align:right; color:#999;    font-size: 1.7em; margin-right: -5px;
                        margin-left: -2px;" ios="ios-close-circle" md="md-close-circle"></ion-icon>
                      </button>
                      <button *ngIf="this.platform.dir()==='rtl'" style="background:transparent;text-align: right;" (click)="deleteevent(post.EventId)">
                        <ion-icon style="text-align:left; color:#999;    font-size: 1.7em;   margin-right: -5px;
                        margin-left: -2px;" ios="ios-close-circle" md="md-close-circle"></ion-icon>
                      </button>
                    </ion-col>
                  </ion-row>

                </ion-grid>

              </ion-card-header>

              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col col-6 *ngIf="this.platform.dir()==='ltr'" style="text-align: left">
                      <p style="color:#aaa;font-family: Cairo-SemiBold;">{{'From'|translate}} : {{post.StartDate}}</p>
                      <p style="color:#aaa;font-family: Cairo-SemiBold;">{{'To'|translate}} : {{post.EndDate}}</p>
                    </ion-col>
                    <ion-col col-6 *ngIf="this.platform.dir()==='rtl'" style="text-align: right">
                      <p style="color:#aaa;font-family: Cairo-SemiBold;">{{'From'|translate}} : {{post.StartDate}}</p>
                      <p style="color:#aaa;font-family: Cairo-SemiBold;">{{'To'|translate}} : {{post.EndDate}}</p>
                    </ion-col>
                    <ion-col col-6 [ngClass]="(this.platform.dir()==='ltr')?'right':'left'">
                     <ion-col col-2>
                        <!-- <ion-icon style="color:#999;font-size: 1.7em;    margin-right: 10px;" ios="ios-attach; zoom:2.0;" md="md-attach"></ion-icon> -->
                      </ion-col>
                      <ion-col col-4>
                        <button default ion-button *ngIf="this.platform.dir()==='ltr'" item-right class="approved right" style="font-family: Cairo-SemiBold;">{{post.RequestStatusName}}</button>
                        <button default ion-button *ngIf="this.platform.dir()==='rtl'" item-left class="approved left" style="font-family: Cairo-SemiBold;">{{post.RequestStatusName}}</button>
                      </ion-col>
                    </ion-col>
                  </ion-row>

                </ion-grid>


              </ion-card-content>

            </ion-card>

          </ion-item>
        </ion-item-sliding >
      </ion-list>

      <!-- <ion-fab *ngIf="!this.platform.isRTL" right bottom>
        <button ion-fab style="background:#4456b9;" (click)="addLeave()"><ion-icon style="color:white;" name="add"></ion-icon></button>
        <!--<button item-right style="background:transparent" (click)="addOutside()"><ion-icon style="font-size: 70px;color:#4456b9" ios="ios-add-circle" md="md-add-circle"></ion-icon></button>-->
      <!-- </ion-fab>
      <ion-fab *ngIf="this.platform.isRTL" left bottom>
        <button ion-fab style="background:#4456b9;" (click)="addLeave()"><ion-icon style="color:white;" name="add"></ion-icon></button>
      </ion-fab> -->
    </ion-list>

    <ion-list *ngSwitchCase="'OUTSIDEOFFICE'" nolines>
      <div *ngIf="states?.length<1">
        <ion-row style=" margin-top:20px; width:100% ;text-align:center">
          <ion-col col-6 style="    box-shadow: 1px 1px 4px 1px lightgrey;margin:auto;text-align:center">

            <p style="text-align: center;font-family:Cairo-SemiBold;font-size: 20px; margin:auto;">{{'NoMissions'|translate}}</p>
          </ion-col>
        </ion-row>
      </div>

      <ion-list nolines>
        <ion-item-sliding *ngFor="let post of states ,let i=index" style="border-bottom: 0px solid white">
          <ion-item style="border-bottom: 0px solid white"> 
            <ion-card>
              <ion-card-header style="padding-bottom: 0px; margin-bottom: 0px;">

                <ion-grid>
                  <ion-row style="padding-left:15px; padding-right:15px; padding-bottom: 0px; margin-bottom: 0px;">
                    <ion-col [ngClass]="(langDirection=='rtl')?'right':'left'" style="margin-right: -11px;font-family: Cairo-SemiBold;">
                      {{post.ProjectName}}
                    </ion-col>
                    <ion-col [ngClass]="(langDirection!=='rtl')?'right':'left'" *ngIf="post.RequestStatusName == 'Pending'||post.RequestStatusName == 'لم يتم الرد' ">
                      <button *ngIf="langDirection!== 'rtl'" style="background:transparent" (click)="deleteevent1(post.EventId)">
                        <ion-icon style="text-align:right; color:#999;    font-size: 1.7em; margin-right:-5px;
                        margin-left: -2px;" ios="ios-close-circle" md="md-close-circle"></ion-icon>
                      </button>
                      <button *ngIf="langDirection== 'rtl'" style="background:transparent" (click)="deleteevent1(post.EventId)">
                        <ion-icon style="text-align:left; color:#999;    font-size: 1.7em;   margin-right: -5px;
                        margin-left: -2px;" ios="ios-close-circle" md="md-close-circle"></ion-icon>
                      </button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-header>
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col col-6 [ngClass]="(langDirection=='rtl')?'right':'left'">
                      <p style="color:#aaa;font-family: Cairo-SemiBold;">{{'From'|translate}} : {{post.StartDate}}</p>
                      <p style="color:#aaa;font-family: Cairo-SemiBold;">{{'To'|translate}} : {{post.EndDate}}</p>
                    </ion-col>
                    <ion-col col-6 [ngClass]="(langDirection!=='rtl')?'right':'left'">
                     <ion-col col-2>
                        <!-- <ion-icon style="color:#999;font-size: 1.7em;       margin-right: 10px;" ios="ios-attach; zoom:2.0;" md="md-attach"></ion-icon> -->
                      </ion-col>
                      <ion-col col-4>
                        <button default ion-button *ngIf="langDirection!== 'rtl'" item-right class="approved right " style="font-family: Cairo-SemiBold;">{{post.RequestStatusName}}</button>
                        <button default ion-button *ngIf="langDirection== 'rtl'" item-left class="approved left" style="font-family: Cairo-SemiBold;">{{post.RequestStatusName}}</button>
      </ion-col>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>

            </ion-card>

          </ion-item>
        </ion-item-sliding>
      </ion-list>

      <!-- <ion-fab *ngIf="this.platform.isRTL" left bottom>
        <button ion-fab style="background:#4456b9;" (click)="addOutside()"><ion-icon style="color:white;" name="add"></ion-icon></button>
        <!--<button item-right style="background:transparent" (click)="addOutside()"><ion-icon style="font-size: 70px;color:#4456b9" ios="ios-add-circle" md="md-add-circle"></ion-icon></button>-->
      <!-- </ion-fab>
      <ion-fab *ngIf="!this.platform.isRTL" right bottom>
        <button ion-fab style="background:#4456b9;" (click)="addOutside()"><ion-icon style="color:white;" name="add"></ion-icon></button>
      </ion-fab>  -->
    </ion-list>

    <ion-list *ngSwitchCase="'OVERTIME'" nolines>
      <div *ngIf="overtime?.length < 1">
        <ion-row style=" margin-top:20px; width:100% ;text-align:center">
          <ion-col col-6 style="box-shadow: 1px 1px 4px 1px lightgrey;margin:auto;text-align:center">
            <p style="text-align: center;font-family:Cairo-SemiBold;font-size: 20px; margin:auto;">{{'NoOvertime'|translate}}</p>
          </ion-col>
        </ion-row>
      </div>

      <ion-list nolines>
        <ion-item-sliding *ngFor="let post of overtime ,let i=index" style="border-bottom: 0px solid white">
          <ion-item style="border-bottom: 0px solid white">
            <ion-card>
              <ion-card-header style="padding-bottom: 0px; margin-bottom: 0px;">
                <ion-grid>
                  <ion-row style="padding-left:15px; padding-right:15px; padding-bottom: 0px; margin-bottom: 0px;">
                    <ion-col [ngClass]="(langDirection=='rtl')?'right':'left'" style="margin-right: -11px;font-family: Cairo-SemiBold;">
                      {{post.EventName}}
                    </ion-col>
                    <ion-col [ngClass]="(langDirection!=='rtl')?'right':'left'" *ngIf="post.RequestStatusName == 'Pending'||post.RequestStatusName == 'لم يتم الرد' ">
                      <button style="background:transparent" (click)="deleteevent2(post.EventId)">
                        <ion-icon style="text-align:right; color:#999;    font-size: 1.7em;   margin-right: -5px;
                        margin-left: -2px;" ios="ios-close-circle" md="md-close-circle"></ion-icon>
                      </button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-header>
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col col-6 [ngClass]="(langDirection=='rtl')?'right':'left'">
                      <p style="color:#aaa;font-family: Cairo-SemiBold;">{{'From'|translate}} : {{post.StartDate}}</p>
                      <p style="color:#aaa;font-family: Cairo-SemiBold;">{{'To'|translate}} : {{post.EndDate}}</p>
                    </ion-col>
                    <ion-col col-6 [ngClass]="(langDirection!=='rtl')?'right':'left'">
                      <ion-col col-2>
                        <!-- <ion-icon style="color:#999;font-size: 1.7em;       margin-right: 10px;" ios="ios-attach; zoom:2.0;" md="md-attach"></ion-icon> -->
                      </ion-col>
                      <ion-col col-4>
                        <button *ngIf="langDirection!== 'rtl'" default ion-button item-right class="approved right" style="font-family: Cairo-SemiBold;">{{post.RequestStatusName}}</button>
                        <button *ngIf="langDirection== 'rtl'" default ion-button item-left class="approved left" style="font-family: Cairo-SemiBold;">{{post.RequestStatusName}}</button>
                      </ion-col>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-item>
        </ion-item-sliding>
      </ion-list>

      <!-- <ion-fab *ngIf="!this.platform.isRTL" right bottom>
        <button ion-fab style="background:#4456b9;" (click)="addOvertime()"><ion-icon style="color:white;" name="add"></ion-icon></button>
        <!--<button item-right style="background:transparent" (click)="addOutside()"><ion-icon style="font-size: 70px;color:#4456b9" ios="ios-add-circle" md="md-add-circle"></ion-icon></button>-->
      <!-- </ion-fab>
      <ion-fab *ngIf="this.platform.isRTL" left bottom>
        <button ion-fab style="background:#4456b9;" (click)="addOvertime()"><ion-icon style="color:white;" name="add"></ion-icon></button>
      </ion-fab>  -->
    </ion-list>

    <ion-list *ngSwitchCase="'PERMISSION'" nolines>
      <div *ngIf="per?.length <1">
        <ion-row style=" margin-top:20px; width:100% ;text-align:center">
          <ion-col col-6 style="    box-shadow: 1px 1px 4px 1px lightgrey;margin:auto;text-align:center">
            <p style="text-align: center;font-family:Cairo-SemiBold;font-size: 20px; margin:auto;">{{'NoPermission'|translate}}</p>
          </ion-col>
        </ion-row>
      </div>

      <ion-list nolines>
        <ion-item-sliding *ngFor="let post of per,let i=index" style="border-bottom: 0px solid white">
          <ion-item style="border-bottom: 0px solid white">
            <ion-card>
              <ion-card-header style="padding-bottom: 0px; margin-bottom: 0px;">
                <ion-grid>
                  <ion-row style="padding-left:15px; padding-right:15px; padding-bottom: 0px; margin-bottom: 0px;">
                    <ion-col [ngClass]="(langDirection=='rtl')?'right':'left'" style="margin-right: -11px;font-family: Cairo-SemiBold;">
                      {{post.EventName}}
                    </ion-col>
                    <ion-col [ngClass]="(langDirection!=='rtl')?'right':'left'" *ngIf="post.RequestStatusName == 'Pending'||post.RequestStatusName == 'لم يتم الرد' ">
                      <button style="background:transparent" (click)="deleteevent3(post.EventId)">
                        <ion-icon style="text-align:right; color:#999;    font-size: 1.7em;   margin-right: -5px;
                        margin-left: -2px;" ios="ios-close-circle" md="md-close-circle"></ion-icon>
                      </button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-header>
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col col-6 [ngClass]="(langDirection=='rtl')?'right':'left'">
                      <p style="color:#aaa;font-family: Cairo-SemiBold;">{{'From'|translate}} : {{post.StartDate}}</p>
                      <p style="color:#aaa;font-family: Cairo-SemiBold;">{{'To'|translate}} : {{post.EndDate}}</p>
                    </ion-col>
                    <ion-col col-6 [ngClass]="(langDirection!=='rtl')?'right':'left'">
                        <ion-col col-2>
                        <button default ion-button *ngIf="langDirection== 'rtl'" item-left class="approved left" style="font-family: Cairo-SemiBold;">{{post.RequestStatusName}}</button>
                      </ion-col>
                      <ion-col col-4>
                        <!-- <ion-icon style="color:#999;font-size: 1.7em;    margin-right: 10px;" ios="ios-attach; zoom:2.0;" md="md-attach"></ion-icon> -->
                        <button default ion-button *ngIf="langDirection!== 'rtl'" item-right class="approved right" style="font-family: Cairo-SemiBold;">{{post.RequestStatusName}}</button>
                    </ion-col>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-item>
        </ion-item-sliding>
      </ion-list>

      <!-- <ion-fab *ngIf="!this.platform.isRTL" right bottom>
        <button ion-fab style="background:#4456b9;" (click)="addPermission()"><ion-icon style="color:white;" name="add"></ion-icon></button>
        <!--<button item-right style="background:transparent" (click)="addOutside()"><ion-icon style="font-size: 70px;color:#4456b9" ios="ios-add-circle" md="md-add-circle"></ion-icon></button>-->
      <!-- </ion-fab>
      <ion-fab *ngIf="this.platform.isRTL" left bottom>
        <button ion-fab style="background:#4456b9;" (click)="addPermission()"><ion-icon style="color:white;" name="add"></ion-icon></button>
        
      </ion-fab>  -->
    </ion-list>
  </div>
  <ion-fab *ngIf="!this.platform.isRTL" right bottom>
    <button ion-fab style="background:#4456b9;" (click)="addLeave(cat)"><ion-icon style="color:white;" name="add"></ion-icon></button>
    <!--<button item-right style="background:transparent" (click)="addOutside()"><ion-icon style="font-size: 70px;color:#4456b9" ios="ios-add-circle" md="md-add-circle"></ion-icon></button>-->
  </ion-fab>
  <ion-fab *ngIf="this.platform.isRTL" left bottom>
    <button ion-fab style="background:#4456b9;" (click)="addLeave(cat)"><ion-icon style="color:white;" name="add"></ion-icon></button>
    <!--<button item-right style="background:transparent" (click)="addOutside()"><ion-icon style="font-size: 70px;color:#4456b9" ios="ios-add-circle" md="md-add-circle"></ion-icon></button>-->
  </ion-fab>
</ion-content>
