
<ion-header>

  <ion-navbar style="padding:20px;" color=danger>
    
   
      <button ion-button menuToggle>
          <ion-icon class="menuToggle"  ios="ios-menu-outline" md="ios-menu-outline" style="font-size: 3.2rem;"></ion-icon>
      </button>
    
    <ion-row>
        <img src="assets/imgs/Elogo.png" style="width: 63px; 
        height: 20px;
        margin-top: 4px;">
    <ion-title style="text-align:center;">{{'Messages'| translate}}</ion-title>
    
  </ion-row>
    <ion-buttons right>
        <button ion-button (click)="opennotificaion()">
            <ion-icon name="custom-notification" style="font-size: 2.2rem;" ></ion-icon>
        </button>
        
      </ion-buttons>
    
  </ion-navbar>

</ion-header>


<ion-content padding>
        <ion-refresher (ionRefresh)="doRefresh($event)">
                <ion-refresher-content></ion-refresher-content>
              </ion-refresher>
        <ion-list no-lines>
            <div [hidden]="show" style="margin: 0 0 25px 0;">
    <h3  style="text-align: center; color:blue;    font-size: 1.5rem;">{{'nomessage'|translate}}</h3>
        </div>
    <ion-searchbar *ngIf="show==true" [ngClass]="langDirection == 'ltr' ? '' : 'rtl'" style="margin-top: 0px;" placeholder="{{'search' | translate}}" (ionInput)="onInput(myInput)"  (ionCancel)="onCancel()" [(ngModel)]="myInput">
    </ion-searchbar>
    <ion-row style="margin-top: 10px;" *ngIf="show==true"> 
           
                <ion-col col-7 *ngIf="langDirection == 'ltr'" style="    font-weight: bold;color:#445bb9;text-align: left">
                        {{'Total Messages'| translate}} : {{total}}
                    </ion-col>
                    <ion-col col-5 *ngIf="langDirection != 'ltr'" style="    font-weight: bold;color:#445bb9;text-align: right">
                            {{'Total Messages'| translate}}  : {{total}}
                        </ion-col>
        <ion-col col-1>
            
        </ion-col>
        <ion-col col-4 *ngIf="langDirection == 'ltr'" style="  color:#445bb9;  text-align: right;    font-weight: bold;">
                {{'Unread' | translate}} : {{unread}}
            </ion-col>
            <ion-col col-4   *ngIf="langDirection != 'ltr'" style="  color:#445bb9;  text-align: left;    font-weight: bold;">
                    {{'Unread' | translate}} : {{unread}}
                </ion-col>
    </ion-row>
    <div *ngFor="let item of messages">
    <ion-item  *ngIf="item.IsRead ==false" style="background-color: rgba(236, 233, 233, 0.57);box-shadow:1px 1px 1px 1px lightgray; margin-top:20px;">
            <ion-row>
              
                    <ion-col col-8>
               <h3 *ngIf="langDirection != 'ltr'" style="margin-top: 8px;font-size: 1em;
               text-align: right;">{{item.Subject}}  </h3>
               <h3 *ngIf="langDirection == 'ltr'" style="margin-top: 8px;font-size: 1em;
               text-align: left;">{{item.Subject}}  </h3>
           </ion-col>
           <ion-col col-4>
                   <h4 style="text-align:right;color:gray;    margin-top: 14px;    text-align: right;" *ngIf="langDirection == 'ltr'" >{{item.CreatedDate.split('T')[0]}}</h4>
                   <h4 style="text-align:left;color:gray ;    margin-top: 14px;text-align: left;" *ngIf="langDirection != 'ltr'">{{item.CreatedDate.split('T')[0]}}</h4>
               </ion-col>
           </ion-row>
           <ion-row>
                   <ion-col col-6>
                           <h4 style="color: #676565;font-size: 1.4rem;margin-top: 5px;white-space: normal;text-align: left;" *ngIf="langDirection == 'ltr'">{{item.From}} ( {{item.Id}} )</h4>
                           <h4 style="color: #676565;font-size: 1.4rem;margin-top: 5px;white-space: normal;text-align: right;" *ngIf="langDirection != 'ltr'">{{item.From}} ( {{item.Id}} )</h4>
        
                       </ion-col>
                   <ion-col col-6>
                           <h4 style="text-align:right;color:gray;    margin-top: 7px;text-align: right;" *ngIf="langDirection == 'ltr'" >{{item.CreatedDate.split('T')[1]}}</h4>
                           <h4 style="text-align:left;color:gray ;    margin-top: 7px;text-align: left;" *ngIf="langDirection != 'ltr'">{{item.CreatedDate.split('T')[1]}}</h4>
                   
                   </ion-col>
            
          
           </ion-row> 
           <ion-row *ngIf="item.ShowApproveBtn==true">
               <ion-col col-3>
                   <button ion-button style="background-color: #445bb9;color: white; width: 68px;text-transform: none;" (click)="replay(item.Id,item.From)"> {{"Replay" | translate}}</button>
               </ion-col>
               <ion-col col-3>
                       <button ion-button style="background-color: #445bb9;color: white; width: 68px;text-transform: none;" (click)="view(item.Id)"> {{"View"| translate}}</button>
                   </ion-col>
                   <ion-col col-3 >
                           <button ion-button style="background-color: green;color: white; width: 68px;text-transform: none;" (click)="accept('accept',item.Id)"> {{"Accept"| translate}}</button>
                       </ion-col>
                       <ion-col col-3 >
                               <button ion-button style="background-color: #ce0c0c;color: white; width: 68px;text-transform: none;" (click)="reject('reject',item.Id)"> {{"Reject"| translate}}</button>
                           </ion-col>
                         
           </ion-row>
           <ion-row *ngIf="item.ShowApproveBtn==false">
               <ion-col col-6>
                   <button ion-button style="background-color: #445bb9;width:100%;color: white; text-transform: none;" (click)="replay(item.Id,item.From)"> {{"Replay" | translate}}</button>
               </ion-col>
               <ion-col col-6>
                       <button ion-button style="background-color: #445bb9;width:100%;color: white;text-transform: none;" (click)="view(item.Id)"> {{"View"| translate}}</button>
                   </ion-col>
           </ion-row>
    </ion-item>

    <ion-item  *ngIf="item.IsRead==true" style="box-shadow:1px 1px 1px 1px lightgray; margin-top:20px;" >
       
        <ion-row>
              
             <ion-col col-8>
        <h3 *ngIf="langDirection != 'ltr'" style="margin-top: 8px;font-size: 1em;overflow: hidden;
        text-align: right;">{{item.Subject}}  </h3>
        <h3 *ngIf="langDirection == 'ltr'" style="margin-top: 8px;font-size: 1em;overflow: hidden;
        text-align: left;">{{item.Subject}}  </h3>
    </ion-col>
    <ion-col col-4>
            <h4 style="text-align:right;color:gray;    margin-top: 14px;    text-align: right;" *ngIf="langDirection == 'ltr'" >{{item.CreatedDate.split('T')[0]}}</h4>
            <h4 style="text-align:left;color:gray ;    margin-top: 14px;text-align: left;" *ngIf="langDirection != 'ltr'">{{item.CreatedDate.split('T')[0]}}</h4>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-6>
                <h4 style="color: #676565;font-size: 1.4rem;margin-top: 5px;white-space: normal;text-align: left;" *ngIf="langDirection == 'ltr'">{{item.From}} ( {{item.Id}} )</h4>
                <h4 style="color: #676565;font-size: 1.4rem;margin-top: 5px;white-space: normal;text-align: right;" *ngIf="langDirection != 'ltr'">{{item.From}} ( {{item.Id}} )</h4>
            </ion-col>
        <ion-col col-6>
                <h4 style="text-align:right;color:gray;    margin-top: 7px;text-align: right;" *ngIf="langDirection == 'ltr'" >{{item.CreatedDate.split('T')[1]}}</h4>
                <h4 style="text-align:left;color:gray ;    margin-top: 7px;text-align: left;" *ngIf="langDirection != 'ltr'">{{item.CreatedDate.split('T')[1]}}</h4>
        </ion-col>
    </ion-row> 
    <ion-row *ngIf="item.ShowApproveBtn==true">
        <ion-col col-3>
            <button ion-button style="background-color: #445bb9;color: white; width: 68px;text-transform: none;" (click)="replay(item.Id,item.From)"> {{"Replay" | translate}}</button>
        </ion-col>
        <ion-col col-3>
                <button ion-button style="background-color: #445bb9;color: white; width: 68px;text-transform: none;" (click)="view(item.Id)"> {{"View"| translate}}</button>
            </ion-col>
            <ion-col col-3 >
                    <button ion-button style="background-color: green;color: white; width: 68px;text-transform: none;" (click)="accept('accept',item.Id)"> {{"Accept"| translate}}</button>
                </ion-col>
                <ion-col col-3 >
                        <button ion-button style="background-color: #ce0c0c;color: white; width: 68px;text-transform: none;" (click)="reject('reject',item.Id)"> {{"Reject"| translate}}</button>
                    </ion-col>
                  
    </ion-row>
    <ion-row *ngIf="item.ShowApproveBtn==false">
        <ion-col col-6>
            <button ion-button style="background-color: #445bb9;width:100%;color: white; text-transform: none;" (click)="replay(item.Id,item.From)"> {{"Replay" | translate}}</button>
        </ion-col>
        <ion-col col-6>
                <button ion-button style="background-color: #445bb9;width:100%;color: white;text-transform: none;" (click)="view(item.Id)"> {{"View"| translate}}</button>
            </ion-col>
    </ion-row>
    </ion-item>
</div>
</ion-list>
<ion-fab *ngIf="!this.platform.isRTL" right bottom>
        <button ion-fab style="background:#4456b9;" (click)="addmessgae()"><ion-icon style="color:white;" name="add"></ion-icon></button>
      </ion-fab>
      <ion-fab *ngIf="this.platform.isRTL" left bottom>
        <button ion-fab style="background:#4456b9;" (click)="addmessgae()"><ion-icon style="color:white;" name="add"></ion-icon></button>
      </ion-fab>
<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
      
</ion-content>
