<!--
  Generated template for the EmployeesListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color=danger hideBackButton>
    <ion-buttons left>
      <button ion-button (click)="DismissInvite(2)">
         <ion-icon name="close" style="color:white;font-size: 25px;font-weight: bold;"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title style="text-align: center;margin-top:5px">
        {{'to1'| translate}}
    </ion-title>
    <ion-buttons right>
        <button ion-button (click)="DismissInvite(1)" style="color:white;font-size: 20px;font-weight: bold;">
            {{"selectEmp" | translate}}
        </button>
      </ion-buttons>
    </ion-navbar>
    </ion-header>
<ion-content >
  
  <!-- <ion-scroll scrollY="true"  style="height: 250px;" > -->
 
  <ion-row>
    <ion-col col-10>
      <ion-searchbar *ngIf="langDirection == 'rtl'" (search)="searchEmployees()"  (ionInput)="searchEmp($event)" placeholder="بحث بالاسم"  style="color:#4a84ac;padding: 8px 0px;" class="searchbar-right-aligned " > </ion-searchbar>
      <ion-searchbar *ngIf="langDirection == 'ltr'" (search)="searchEmployees()" (ionInput)="searchEmp($event)" placeholder="Search by name" style="color:#4a84ac;padding: 8px 0px;"> </ion-searchbar>


    </ion-col>
    <ion-col (click)="searchEmployees()">
        <ion-icon name="search" style="color:#4a84ac;    font-size: 29px;
        margin-top: 10px;
    "></ion-icon>
    </ion-col>
  </ion-row>
  <ion-item *ngFor="let item of employeesList">
      <ion-label item-left style="font-size:15px">{{item.Text}}</ion-label>
      <ion-checkbox item-right (click)="empChecked(item)" ></ion-checkbox>
    </ion-item>
    <ion-row>
      <ion-col col-12>
        <ion-item style="text-align: center;">
          <button ion-button color="primary" (click)="loadMore()" [hidden]="hideMoreBtn"
          style="width: 110px; color: white; padding: 8px; border-radius: 18px; font-size: 16px;"
          >{{"more" | translate}}</button>
        </ion-item>
      </ion-col>
      <!-- <ion-col col-6>
        <ion-item style="text-align: center;">
          <button ion-button color="danger" (click)="DismissInvite(1)" 
          style="width: 110px; color: white; padding: 8px; border-radius: 18px; font-size: 16px;"
          >{{"selectEmp" | translate}}</button>
        </ion-item>
      </ion-col> -->
    </ion-row>
    
  <!-- </ion-scroll> -->
</ion-content>
