
<ion-header>
  <ion-navbar color=danger>
    <ion-buttons left>
        <button ion-button menuToggle>
            <ion-icon ios="ios-menu-outline" md="ios-menu-outline" style="font-size: 3.2rem;"></ion-icon>
        </button>
      </ion-buttons>
      <ion-row>
          <img src="assets/imgs/Elogo.png" style="    width: 60px;
          height: 28px;
          margin-top: -1px;">
      <ion-title style="text-align:center;    margin-left: -20px;">{{"setting" | translate}}</ion-title>
    </ion-row>
      <ion-buttons right>
          <button ion-button (click)="opennotificaion()">
              <ion-icon name="custom-notification" style="font-size: 3.2rem;" ></ion-icon>
          </button>
          
        </ion-buttons>
      
    </ion-navbar>
</ion-header>


<ion-content padding>
    <div>
        <ion-row style="border-radius: 0 0 25px 25px;background-color: #ffffff;">
      <ion-col col-10 style="padding: 0 1em;">
      <p class="all" style="font-size: 1.6rem;">{{"Language" | translate}}</p> 
    </ion-col>
      <ion-col col-2  style="padding: 0 ;">
        <p style="color: gray;text-align: right;">{{"lang" | translate}}</p>
        </ion-col>
      </ion-row>
      </div>
    <div>
        <ion-row style="border-radius: 0 0 25px 25px;background-color: #ffffff;">
      <ion-col col-10 style="padding: 0 1em;">
      <p class="all" style="font-size: 1.6rem;">{{"alert1"| translate}}</p> 
    </ion-col>
      <ion-col col-2  style="padding: 0 ;">
        <span class="item-toggle"> 
        <ion-toggle  id="Cnotification-toggle"  style="border: none !important;">
        </ion-toggle> 
        </span>
        </ion-col>
      </ion-row>
      </div>
      <div>
          <ion-row style="border-radius: 0 0 25px 25px;background-color: #ffffff;">
        <ion-col col-10 style="padding: 0 1em;">
        <p class="all" style="font-size: 1.6rem;">Adds Push Notification</p> 
      </ion-col>
        <ion-col col-2  style="padding: 0 ;">
          <span class="item-toggle"> 
          <ion-toggle  id="Cnotification-toggle"  style="border: none !important;">
          </ion-toggle> 
          </span>
          </ion-col>
        </ion-row>
        </div>
</ion-content>
