page-leavereq {
  .alert-ios .alert-radio-group, .alert-ios .alert-checkbox-group {
    overflow: hidden !important;
  }
  ion-select {
    max-width: 100% !important;
    width: 100%;
  }

  .toolbar-title {
    font-size: 1.5rem;
  }

  .b {
    display: inline-block;
    padding: 5px;
  }
 
}
