<ion-header>
  <ion-navbar style="padding:20px;" color=danger  hideBackButton>
    <ion-row>
        <img src="assets/imgs/Elogo.png" style="       margin-right: 8px;   margin-left: 8px;  width: 63px; 
        height: 20px;
        margin-top: 4px;">
      <ion-title style="text-align:center; font-size:9px;">
        {{ "LEAVE REQUEST" | translate }}
      </ion-title>
    </ion-row>
    <ion-buttons right *ngIf="langDirection=='ltr'">
        <button ion-button (click)="ViewCtrl.dismiss()">
            <ion-icon md="ios-arrow-forward" ios="ios-arrow-forward"  style="font-size: 2.5rem;" ></ion-icon>
        </button>
        </ion-buttons>
        <ion-buttons right *ngIf="langDirection=='rtl'">
          <button ion-button (click)="ViewCtrl.dismiss()">
              <ion-icon md="ios-arrow-back-outline"  ios="ios-arrow-back-outline" style="font-size: 2.5rem;" ></ion-icon>
          </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <p style="font-family: Cairo-SemiBold;">{{"Type" | translate}}</p>
  <ion-item style="margin: 0px; box-shadow: 1px 1px 1px 1px lightgrey;margin-top: -9px">
      <ion-label style="font-family: Cairo-SemiBold;">{{'type' | translate}}</ion-label>
    <ion-select [(ngModel)]="Type" (ionChange)="changeBalance()" *ngIf="langDirection == 'ltr'"  okText="Okay" cancelText="Dismiss">
      <ion-option value="{{ item.Id }}" *ngFor="let item of vacationList"> {{ item.Name }} </ion-option>
    </ion-select>
    <ion-select *ngIf="langDirection == 'rtl'" [(ngModel)]="Type" (ionChange)="changeBalance()" okText="تم" cancelText="الغاء">
      <ion-option value="{{ item.Id }}" *ngFor="let item of vacationList " > {{ item.Name }} </ion-option>
    </ion-select>
  </ion-item>
  <p style="margin-top: 8px;font-family: Cairo-SemiBold;">{{"STATUS" | translate}}</p>
  <ion-item style="margin: 0px; box-shadow: 1px 1px 1px 1px lightgrey;margin-top: -9px;">
    <ion-label style="font-family: Cairo-SemiBold;">{{'DURATION' | translate}}</ion-label>
    <ion-select [(ngModel)]="status" *ngIf="langDirection == 'ltr'"  okText="Okay" cancelText="Dismiss" (ionChange)="changeperiod()">
      <ion-option selected value="1">{{'Period' | translate}}</ion-option>
      <ion-option value="2">{{'FullDay' | translate}}</ion-option>
      <ion-option value="3">{{'HalfDayAttend' | translate}}</ion-option>
      <ion-option value="4">{{'HalfDayLeave' | translate}}</ion-option>
    </ion-select>
    <ion-select [(ngModel)]="status" *ngIf="langDirection == 'rtl'"  okText="تم" cancelText="الغاء" (ionChange)="changeperiod()">
      <ion-option selected value="1">{{'Period' | translate}}</ion-option>
      <ion-option value="2">{{'FullDay' | translate}}</ion-option>
      <ion-option value="3">{{'HalfDayAttend' | translate}}</ion-option>
      <ion-option value="4">{{'HalfDayLeave' | translate}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-row style="margin-top:5px; background-color:#C7C7C8; border-radius:10%; width:70%; margin-right:15%; margin-left:15%; text-align:center;">    
    <ion-col  >
      <span style="font-family: Cairo-SemiBold;"> {{'Balance' | translate}}</span>
    </ion-col>
    <ion-col  style="font-family: Cairo-SemiBold;">
      {{balance}}
    </ion-col>
    <ion-col  >
      <span style="font-family: Cairo-SemiBold;"> {{'days' | translate}}</span>
    </ion-col>    
  </ion-row>
  <p style="margin-top: 8px;font-family: Cairo-SemiBold;">{{"From" | translate}}</p>
  <ion-item style="margin: 0px; box-shadow: 1px 1px 1px 1px lightgrey;margin-top: -9px;"> 
       <p dir="*ngif(this.platform.isRTL)? rtl : ltr" *ngIf="hide1=='false'" >{{from1}}</p>
    <ion-label dir="*ngif(this.platform.isRTL)? rtl : ltr" style="color:gray"   (click)="getdate()"  *ngIf="dis1=='false'">
   {{from}}
    </ion-label>
  </ion-item>
  <p style="margin-top: 8px;font-family: Cairo-SemiBold;">{{"To" | translate}}</p>
  <ion-item style="margin: 0px; box-shadow: 1px 1px 1px 1px lightgrey;margin-top: -9px;" *ngIf="hide=='false'">
  <p dir="*ngif(this.platform.isRTL)? rtl : ltr"  >{{to1}}</p>
  </ion-item>
  <ion-item style="margin: 0px; box-shadow: 1px 1px 1px 1px lightgrey;margin-top: -9px;" *ngIf="dis=='false'">
    <ion-label  dir="*ngif(this.platform.isRTL)? rtl : ltr"  style="color:gray" (click)="getdate1()"  >
    {{to}}
    </ion-label>
  </ion-item>
  <p  style="margin-top: 8px;font-family: Cairo-SemiBold;">{{'Notes' | translate}}</p>
  <ion-item style="margin: 0px; box-shadow: 1px 1px 1px 1px lightgrey; margin-top: -9px;">
    <ion-input dir="*ngif(this.platform.isRTL)? rtl : ltr" placeholder="{{'Notes' | translate}}" type="text" [(ngModel)]="note"></ion-input>
  </ion-item>
  <p align="center"><img src="{{ myPhoto }}"></p>
  <ion-row>
    <ion-col>
      <button [disabled]="vacationList.length<1" (click)="saveVacation()" style="background-color:#4456b9;margin-top:-34px;font-family: Cairo-SemiBold;" ion-button full text-center class="c1">
        {{ "Save" | translate}}
      </button>
    </ion-col>
  </ion-row>
</ion-content>
