
<ion-header>

  <ion-navbar style="padding:20px;" color=danger hideBackButton>
    <ion-row>
      <img src="assets/imgs/Elogo.png" style="       margin-right: 8px;   margin-left: 8px; width: 63px; 
      height: 20px;
      margin-top: 4px;">
    <ion-title style="text-align:center">{{"Notificaions" | translate}}</ion-title>
  </ion-row>
  <ion-buttons right *ngIf="langDirection=='ltr'">
      <button ion-button (click)="ViewCtrl.dismiss()">
          <ion-icon md="ios-arrow-forward" ios="ios-arrow-forward"  style="font-size: 2.5rem;" ></ion-icon>
      </button>
      </ion-buttons>
      <ion-buttons right *ngIf="langDirection=='rtl'">
        <button ion-button (click)="ViewCtrl.dismiss()">
            <ion-icon md="ios-arrow-back-outline"  ios="ios-arrow-back-outline" style="font-size: 2.5rem;" ></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
  <ion-list no-lines >
    <h3 [hidden]="show" style="text-align: center; color:blue;font-size: 2rem;">{{'nonotifi'|translate}}</h3>
<ion-item (click)="opennotification(item.NotifyType)" style="box-shadow:1px 1px 1px 1px lightgray; margin-top:20px;" *ngFor="let item of notifications">
  <h4 style="text-align:right;color:gray;    margin-top: 5px;" *ngIf="langDirection == 'ltr'" >{{item.Date}}</h4>
  <h4 style="text-align:left;color:gray ;    margin-top: 5px;" *ngIf="langDirection != 'ltr'">{{item.Date}}</h4>
  <h3 style="margin-top: 8px;">{{item.Title}} </h3>
<h4 style="color: #676565;font-size: 1.6rem;margin-top: 5px;white-space: normal;">{{item.Message}}</h4>
</ion-item>

</ion-list>
</ion-content>
