page-replay {
    // .select-md {
    //     padding: 13px 8px 13px 16px !important;
    // }
    // .select-ios {
    //     padding: 13px 8px 13px 16px !important;
    // }
     .text-input-md {
        width: calc(100% - 8px - 8px) !important;
    }
    .text-input-ios {
        width: calc(100% - 8px - 8px) !important;
    }
    .select-text {
        font-size: 13px !important;
        width:100% !important;
        white-space: unset !important;

    }
    .select-md .select-icon {
        position: relative !important;
       
    }
    .select-ios .select-icon {
        position: relative !important;
       
      
    }
    .text-input-md{
        width: calc(60% - 8px - 8px);
    }
    .text-input-ios{
        width: calc(60% - 8px - 8px);
    }
    .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        border-bottom-color: transparent !important;
        box-shadow: inset 0 -1px 0 0 transparent !important;
    }
    .item-ios.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-ios.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        border-bottom-color: transparent !important;
        box-shadow: inset 0 -1px 0 0 transparent !important;
    }
    .select-text {
        text-overflow: unset !important;
        overflow: unset !important;
    }
    .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
         border-bottom-color: transparent; 
         -webkit-box-shadow: inset 0 -1px 0 0 transparent; 
         box-shadow: inset 0 -1px 0 0 transparent; 
    }
    .item-ios.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-ios.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        border-bottom-color: transparent; 
        -webkit-box-shadow: inset 0 -1px 0 0 transparent; 
        box-shadow: inset 0 -1px 0 0 transparent; 
   }
}
