
<ion-header>
  <ion-navbar style="padding:20px;" color=danger hideBackButton>
     
    <ion-row>
        <img src="assets/imgs/Elogo.png" style="       margin-right: 8px;   margin-left: 8px;  width: 63px; 
        height: 20px;
        margin-top: 4px;">
    <ion-title style="text-align:center;  ">{{"replay1" | translate}}</ion-title>
    
  </ion-row>
  <ion-buttons right *ngIf="langDirection=='ltr'">
      <button ion-button (click)="ViewCtrl.dismiss()">
          <ion-icon md="ios-arrow-forward" ios="ios-arrow-forward"  style="font-size: 2.5rem;color:white;" ></ion-icon>
      </button>
      </ion-buttons>
      <ion-buttons right *ngIf="langDirection=='rtl'">
        <button ion-button (click)="ViewCtrl.dismiss()">
            <ion-icon md="ios-arrow-back-outline"  ios="ios-arrow-back-outline" style="font-size: 2.5rem;color:white;" ></ion-icon>
        </button>
    </ion-buttons>
    
  </ion-navbar>

</ion-header>


<ion-content padding>
<!-- <p style="text-align: center;color:#4456b9;font-weight: bold;">{{'from' | translate}} {{name}} </p> -->
<!-- margin-top: 30px; -->
<ion-item style="margin: 0px; box-shadow: 1px 1px 1px 1px lightgrey;" >
      <ion-textarea row="8" dir="*ngif(this.platform.isRTL)? rtl : ltr" placeholder="{{'msg'|translate}}"    style="border-radius: 2px;padding: 0px;"  [(ngModel)]="msg"
      type="text"></ion-textarea>

 </ion-item>
 <br>
 <ion-item (click)="openEmployees()" style="margin: 0px; box-shadow: 1px 1px 1px 1px lightgrey;">
  
    <table style="width:100%"><tr><td>
     <span *ngIf="empsName" style="color:black ; padding: 0 10px;font-size: 14px;"> {{empsName}}</span>
     <span *ngIf="!empsName" style="color: gray; padding: 0 10px;font-size: 14px;"> {{'to1'| translate}}</span>
    </td>
    <td style="text-align: right">
      <ion-icon name="arrow-dropdown" style="color:gray;font-size: 25px"></ion-icon>
    </td></tr>
  </table>
 <!-- <ion-select  placeholder ="{{'to1'| translate}}" multiple="true" [(ngModel)]="emps" (ionChange)="geemps()"  okText="Okay" cancelText="Dismiss" style="   width: 100%;  max-width: 100%; " *ngIf="langDirection=='ltr'">
  <ion-option value="{{item.Value}}"  style="font-size: 13px;" *ngFor="let item of emplyees">  {{item.Text}} </ion-option>
</ion-select>
<ion-select placeholder ="{{'to1'| translate}}" multiple="true" (ionChange)="geemps()" [(ngModel)]="emps" okText="تم" cancelText="الغاء" style="   width: 100%;  max-width: 100%; " *ngIf="langDirection!='ltr'">
<ion-option  value="{{item.Value}}"  style="font-size: 13px;" *ngFor="let item of emplyees" > {{item.Text}} </ion-option>
  </ion-select> -->

</ion-item>
<!-- <br>
<button ion-button style="width:100%;background-color:#4456b9;margin-top: 20px;color:white;font-family: Cairo-SemiBold;" (click)="inviteFriend()" >{{"inviteFriend" | translate}}</button> -->
<br>
<button ion-button style="width:100%;background-color:#4456b9;margin-top: 20px;color:white;font-family: Cairo-SemiBold;" (click)="send()" >{{"send" | translate}}</button>

</ion-content>
